In [5]:
import pandas as pd
dias=pd.date_range(start='2015-01-01',end='2015-12-02',freq='D')

In [6]:
type(dias)

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
pd.date_range(start='2015-01-01',end='2015-12-02',freq='4D') # 4 dias

DatetimeIndex(['2015-01-01', '2015-01-05', '2015-01-09', '2015-01-13',
               '2015-01-17', '2015-01-21', '2015-01-25', '2015-01-29',
               '2015-02-02', '2015-02-06', '2015-02-10', '2015-02-14',
               '2015-02-18', '2015-02-22', '2015-02-26', '2015-03-02',
               '2015-03-06', '2015-03-10', '2015-03-14', '2015-03-18',
               '2015-03-22', '2015-03-26', '2015-03-30', '2015-04-03',
               '2015-04-07', '2015-04-11', '2015-04-15', '2015-04-19',
               '2015-04-23', '2015-04-27', '2015-05-01', '2015-05-05',
               '2015-05-09', '2015-05-13', '2015-05-17', '2015-05-21',
               '2015-05-25', '2015-05-29', '2015-06-02', '2015-06-06',
               '2015-06-10', '2015-06-14', '2015-06-18', '2015-06-22',
               '2015-06-26', '2015-06-30', '2015-07-04', '2015-07-08',
               '2015-07-12', '2015-07-16', '2015-07-20', '2015-07-24',
               '2015-07-28', '2015-08-01', '2015-08-05', '2015-08-09',
               '2015-08-13', '2015-08-17', '2015-08-21', '2015-08-25',
               '2015-08-29', '2015-09-02', '2015-09-06', '2015-09-10',
               '2015-09-14', '2015-09-18', '2015-09-22', '2015-09-26',
               '2015-09-30', '2015-10-04', '2015-10-08', '2015-10-12',
               '2015-10-16', '2015-10-20', '2015-10-24', '2015-10-28',
               '2015-11-01', '2015-11-05', '2015-11-09', '2015-11-13',
               '2015-11-17', '2015-11-21', '2015-11-25', '2015-11-29'],
              dtype='datetime64[ns]', freq='4D')

In [9]:
pd.date_range(start='2015-01-01',end='2015-12-02',freq='B') # laborables

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-11-19', '2015-11-20', '2015-11-23', '2015-11-24',
               '2015-11-25', '2015-11-26', '2015-11-27', '2015-11-30',
               '2015-12-01', '2015-12-02'],
              dtype='datetime64[ns]', length=240, freq='B')

In [11]:
pd.date_range(start='2015-01-01',end='2015-12-02',freq='W') # semanas

DatetimeIndex(['2015-01-04', '2015-01-11', '2015-01-18', '2015-01-25',
               '2015-02-01', '2015-02-08', '2015-02-15', '2015-02-22',
               '2015-03-01', '2015-03-08', '2015-03-15', '2015-03-22',
               '2015-03-29', '2015-04-05', '2015-04-12', '2015-04-19',
               '2015-04-26', '2015-05-03', '2015-05-10', '2015-05-17',
               '2015-05-24', '2015-05-31', '2015-06-07', '2015-06-14',
               '2015-06-21', '2015-06-28', '2015-07-05', '2015-07-12',
               '2015-07-19', '2015-07-26', '2015-08-02', '2015-08-09',
               '2015-08-16', '2015-08-23', '2015-08-30', '2015-09-06',
               '2015-09-13', '2015-09-20', '2015-09-27', '2015-10-04',
               '2015-10-11', '2015-10-18', '2015-10-25', '2015-11-01',
               '2015-11-08', '2015-11-15', '2015-11-22', '2015-11-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [12]:
pd.date_range(start='2015-01-01',end='2015-12-02',freq='W-FRI') # semanas incluye Fri

DatetimeIndex(['2015-01-02', '2015-01-09', '2015-01-16', '2015-01-23',
               '2015-01-30', '2015-02-06', '2015-02-13', '2015-02-20',
               '2015-02-27', '2015-03-06', '2015-03-13', '2015-03-20',
               '2015-03-27', '2015-04-03', '2015-04-10', '2015-04-17',
               '2015-04-24', '2015-05-01', '2015-05-08', '2015-05-15',
               '2015-05-22', '2015-05-29', '2015-06-05', '2015-06-12',
               '2015-06-19', '2015-06-26', '2015-07-03', '2015-07-10',
               '2015-07-17', '2015-07-24', '2015-07-31', '2015-08-07',
               '2015-08-14', '2015-08-21', '2015-08-28', '2015-09-04',
               '2015-09-11', '2015-09-18', '2015-09-25', '2015-10-02',
               '2015-10-09', '2015-10-16', '2015-10-23', '2015-10-30',
               '2015-11-06', '2015-11-13', '2015-11-20', '2015-11-27'],
              dtype='datetime64[ns]', freq='W-FRI')

In [13]:
pd.date_range(start='2015-01-01',end='2015-12-02',freq='H') # horas

DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00',
               ...
               '2015-12-01 15:00:00', '2015-12-01 16:00:00',
               '2015-12-01 17:00:00', '2015-12-01 18:00:00',
               '2015-12-01 19:00:00', '2015-12-01 20:00:00',
               '2015-12-01 21:00:00', '2015-12-01 22:00:00',
               '2015-12-01 23:00:00', '2015-12-02 00:00:00'],
              dtype='datetime64[ns]', length=8041, freq='H')

In [14]:
pd.date_range(start='2015-01-01',end='2015-12-02',freq='7H') # 7 horas

DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 07:00:00',
               '2015-01-01 14:00:00', '2015-01-01 21:00:00',
               '2015-01-02 04:00:00', '2015-01-02 11:00:00',
               '2015-01-02 18:00:00', '2015-01-03 01:00:00',
               '2015-01-03 08:00:00', '2015-01-03 15:00:00',
               ...
               '2015-11-29 05:00:00', '2015-11-29 12:00:00',
               '2015-11-29 19:00:00', '2015-11-30 02:00:00',
               '2015-11-30 09:00:00', '2015-11-30 16:00:00',
               '2015-11-30 23:00:00', '2015-12-01 06:00:00',
               '2015-12-01 13:00:00', '2015-12-01 20:00:00'],
              dtype='datetime64[ns]', length=1149, freq='7H')

In [15]:
pd.date_range(start='2015-01-01',end='2015-12-02',freq='M') # finde mes

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30'],
              dtype='datetime64[ns]', freq='M')

In [17]:
pd.date_range(start='2015-01-01',end='2016-12-02',freq='MS') # inicio de mes

DatetimeIndex(['2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
               '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
               '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
               '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [19]:
pd.date_range(start='2015-01-01',end='2018-12-02',freq='A') # YEARS

DatetimeIndex(['2015-12-31', '2016-12-31', '2017-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [20]:
pd.date_range(start='2015-01-01',periods=25,freq='d')

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10', '2015-01-11', '2015-01-12',
               '2015-01-13', '2015-01-14', '2015-01-15', '2015-01-16',
               '2015-01-17', '2015-01-18', '2015-01-19', '2015-01-20',
               '2015-01-21', '2015-01-22', '2015-01-23', '2015-01-24',
               '2015-01-25'],
              dtype='datetime64[ns]', freq='D')

In [21]:
len(pd.date_range(start='2015-01-01',periods=25,freq='d'))

25

In [22]:
pd.date_range(start='2015-01-01',periods=50,freq='d') #Dias 50

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10', '2015-01-11', '2015-01-12',
               '2015-01-13', '2015-01-14', '2015-01-15', '2015-01-16',
               '2015-01-17', '2015-01-18', '2015-01-19', '2015-01-20',
               '2015-01-21', '2015-01-22', '2015-01-23', '2015-01-24',
               '2015-01-25', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30', '2015-01-31', '2015-02-01',
               '2015-02-02', '2015-02-03', '2015-02-04', '2015-02-05',
               '2015-02-06', '2015-02-07', '2015-02-08', '2015-02-09',
               '2015-02-10', '2015-02-11', '2015-02-12', '2015-02-13',
               '2015-02-14', '2015-02-15', '2015-02-16', '2015-02-17',
               '2015-02-18', '2015-02-19'],
              dtype='datetime64[ns]', freq='D')

In [24]:
len(pd.date_range(start='2015-01-01',periods=50,freq='d'))

50

In [25]:
pd.date_range(start='2015-01-01',periods=50,freq='b') # 50laborables

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14', '2015-01-15', '2015-01-16',
               '2015-01-19', '2015-01-20', '2015-01-21', '2015-01-22',
               '2015-01-23', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30', '2015-02-02', '2015-02-03',
               '2015-02-04', '2015-02-05', '2015-02-06', '2015-02-09',
               '2015-02-10', '2015-02-11', '2015-02-12', '2015-02-13',
               '2015-02-16', '2015-02-17', '2015-02-18', '2015-02-19',
               '2015-02-20', '2015-02-23', '2015-02-24', '2015-02-25',
               '2015-02-26', '2015-02-27', '2015-03-02', '2015-03-03',
               '2015-03-04', '2015-03-05', '2015-03-06', '2015-03-09',
               '2015-03-10', '2015-03-11'],
              dtype='datetime64[ns]', freq='B')

In [26]:
pd.date_range(start='2015-01-01',periods=50,freq='w') # 50 semanas

DatetimeIndex(['2015-01-04', '2015-01-11', '2015-01-18', '2015-01-25',
               '2015-02-01', '2015-02-08', '2015-02-15', '2015-02-22',
               '2015-03-01', '2015-03-08', '2015-03-15', '2015-03-22',
               '2015-03-29', '2015-04-05', '2015-04-12', '2015-04-19',
               '2015-04-26', '2015-05-03', '2015-05-10', '2015-05-17',
               '2015-05-24', '2015-05-31', '2015-06-07', '2015-06-14',
               '2015-06-21', '2015-06-28', '2015-07-05', '2015-07-12',
               '2015-07-19', '2015-07-26', '2015-08-02', '2015-08-09',
               '2015-08-16', '2015-08-23', '2015-08-30', '2015-09-06',
               '2015-09-13', '2015-09-20', '2015-09-27', '2015-10-04',
               '2015-10-11', '2015-10-18', '2015-10-25', '2015-11-01',
               '2015-11-08', '2015-11-15', '2015-11-22', '2015-11-29',
               '2015-12-06', '2015-12-13'],
              dtype='datetime64[ns]', freq='W-SUN')

In [27]:
pd.date_range(start='2015-01-01',periods=50,freq='w-SUN') # 50 semanas

DatetimeIndex(['2015-01-04', '2015-01-11', '2015-01-18', '2015-01-25',
               '2015-02-01', '2015-02-08', '2015-02-15', '2015-02-22',
               '2015-03-01', '2015-03-08', '2015-03-15', '2015-03-22',
               '2015-03-29', '2015-04-05', '2015-04-12', '2015-04-19',
               '2015-04-26', '2015-05-03', '2015-05-10', '2015-05-17',
               '2015-05-24', '2015-05-31', '2015-06-07', '2015-06-14',
               '2015-06-21', '2015-06-28', '2015-07-05', '2015-07-12',
               '2015-07-19', '2015-07-26', '2015-08-02', '2015-08-09',
               '2015-08-16', '2015-08-23', '2015-08-30', '2015-09-06',
               '2015-09-13', '2015-09-20', '2015-09-27', '2015-10-04',
               '2015-10-11', '2015-10-18', '2015-10-25', '2015-11-01',
               '2015-11-08', '2015-11-15', '2015-11-22', '2015-11-29',
               '2015-12-06', '2015-12-13'],
              dtype='datetime64[ns]', freq='W-SUN')

In [28]:
pd.date_range(start='2015-01-01',periods=50,freq='w-TUE')

DatetimeIndex(['2015-01-06', '2015-01-13', '2015-01-20', '2015-01-27',
               '2015-02-03', '2015-02-10', '2015-02-17', '2015-02-24',
               '2015-03-03', '2015-03-10', '2015-03-17', '2015-03-24',
               '2015-03-31', '2015-04-07', '2015-04-14', '2015-04-21',
               '2015-04-28', '2015-05-05', '2015-05-12', '2015-05-19',
               '2015-05-26', '2015-06-02', '2015-06-09', '2015-06-16',
               '2015-06-23', '2015-06-30', '2015-07-07', '2015-07-14',
               '2015-07-21', '2015-07-28', '2015-08-04', '2015-08-11',
               '2015-08-18', '2015-08-25', '2015-09-01', '2015-09-08',
               '2015-09-15', '2015-09-22', '2015-09-29', '2015-10-06',
               '2015-10-13', '2015-10-20', '2015-10-27', '2015-11-03',
               '2015-11-10', '2015-11-17', '2015-11-24', '2015-12-01',
               '2015-12-08', '2015-12-15'],
              dtype='datetime64[ns]', freq='W-TUE')

In [29]:
pd.date_range(start='2015-01-01',periods=50,freq='Ms')

DatetimeIndex([       '2015-01-01 00:00:00', '2015-01-01 00:00:00.001000',
               '2015-01-01 00:00:00.002000', '2015-01-01 00:00:00.003000',
               '2015-01-01 00:00:00.004000', '2015-01-01 00:00:00.005000',
               '2015-01-01 00:00:00.006000', '2015-01-01 00:00:00.007000',
               '2015-01-01 00:00:00.008000', '2015-01-01 00:00:00.009000',
               '2015-01-01 00:00:00.010000', '2015-01-01 00:00:00.011000',
               '2015-01-01 00:00:00.012000', '2015-01-01 00:00:00.013000',
               '2015-01-01 00:00:00.014000', '2015-01-01 00:00:00.015000',
               '2015-01-01 00:00:00.016000', '2015-01-01 00:00:00.017000',
               '2015-01-01 00:00:00.018000', '2015-01-01 00:00:00.019000',
               '2015-01-01 00:00:00.020000', '2015-01-01 00:00:00.021000',
               '2015-01-01 00:00:00.022000', '2015-01-01 00:00:00.023000',
               '2015-01-01 00:00:00.024000', '2015-01-01 00:00:00.025000',
               '2015-01-01 00:00:00.026000', '2015-01-01 00:00:00.027000',
               '2015-01-01 00:00:00.028000', '2015-01-01 00:00:00.029000',
               '2015-01-01 00:00:00.030000', '2015-01-01 00:00:00.031000',
               '2015-01-01 00:00:00.032000', '2015-01-01 00:00:00.033000',
               '2015-01-01 00:00:00.034000', '2015-01-01 00:00:00.035000',
               '2015-01-01 00:00:00.036000', '2015-01-01 00:00:00.037000',
               '2015-01-01 00:00:00.038000', '2015-01-01 00:00:00.039000',
               '2015-01-01 00:00:00.040000', '2015-01-01 00:00:00.041000',
               '2015-01-01 00:00:00.042000', '2015-01-01 00:00:00.043000',
               '2015-01-01 00:00:00.044000', '2015-01-01 00:00:00.045000',
               '2015-01-01 00:00:00.046000', '2015-01-01 00:00:00.047000',
               '2015-01-01 00:00:00.048000', '2015-01-01 00:00:00.049000'],
              dtype='datetime64[ns]', freq='L')

In [30]:
pd.date_range(start='2015-01-01',periods=50,freq='6H')

DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 06:00:00',
               '2015-01-01 12:00:00', '2015-01-01 18:00:00',
               '2015-01-02 00:00:00', '2015-01-02 06:00:00',
               '2015-01-02 12:00:00', '2015-01-02 18:00:00',
               '2015-01-03 00:00:00', '2015-01-03 06:00:00',
               '2015-01-03 12:00:00', '2015-01-03 18:00:00',
               '2015-01-04 00:00:00', '2015-01-04 06:00:00',
               '2015-01-04 12:00:00', '2015-01-04 18:00:00',
               '2015-01-05 00:00:00', '2015-01-05 06:00:00',
               '2015-01-05 12:00:00', '2015-01-05 18:00:00',
               '2015-01-06 00:00:00', '2015-01-06 06:00:00',
               '2015-01-06 12:00:00', '2015-01-06 18:00:00',
               '2015-01-07 00:00:00', '2015-01-07 06:00:00',
               '2015-01-07 12:00:00', '2015-01-07 18:00:00',
               '2015-01-08 00:00:00', '2015-01-08 06:00:00',
               '2015-01-08 12:00:00', '2015-01-08 18:00:00',
               '2015-01-09 00:00:00', '2015-01-09 06:00:00',
               '2015-01-09 12:00:00', '2015-01-09 18:00:00',
               '2015-01-10 00:00:00', '2015-01-10 06:00:00',
               '2015-01-10 12:00:00', '2015-01-10 18:00:00',
               '2015-01-11 00:00:00', '2015-01-11 06:00:00',
               '2015-01-11 12:00:00', '2015-01-11 18:00:00',
               '2015-01-12 00:00:00', '2015-01-12 06:00:00',
               '2015-01-12 12:00:00', '2015-01-12 18:00:00',
               '2015-01-13 00:00:00', '2015-01-13 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [31]:
pd.date_range(start='2015-01-01',periods=50,freq='6b')

DatetimeIndex(['2015-01-01', '2015-01-09', '2015-01-19', '2015-01-27',
               '2015-02-04', '2015-02-12', '2015-02-20', '2015-03-02',
               '2015-03-10', '2015-03-18', '2015-03-26', '2015-04-03',
               '2015-04-13', '2015-04-21', '2015-04-29', '2015-05-07',
               '2015-05-15', '2015-05-25', '2015-06-02', '2015-06-10',
               '2015-06-18', '2015-06-26', '2015-07-06', '2015-07-14',
               '2015-07-22', '2015-07-30', '2015-08-07', '2015-08-17',
               '2015-08-25', '2015-09-02', '2015-09-10', '2015-09-18',
               '2015-09-28', '2015-10-06', '2015-10-14', '2015-10-22',
               '2015-10-30', '2015-11-09', '2015-11-17', '2015-11-25',
               '2015-12-03', '2015-12-11', '2015-12-21', '2015-12-29',
               '2016-01-06', '2016-01-14', '2016-01-22', '2016-02-01',
               '2016-02-09', '2016-02-17'],
              dtype='datetime64[ns]', freq='6B')

In [32]:
pd.date_range(end='1984-01-01',periods=20,freq='d')

DatetimeIndex(['1983-12-13', '1983-12-14', '1983-12-15', '1983-12-16',
               '1983-12-17', '1983-12-18', '1983-12-19', '1983-12-20',
               '1983-12-21', '1983-12-22', '1983-12-23', '1983-12-24',
               '1983-12-25', '1983-12-26', '1983-12-27', '1983-12-28',
               '1983-12-29', '1983-12-30', '1983-12-31', '1984-01-01'],
              dtype='datetime64[ns]', freq='D')

In [33]:
pd.date_range(end='1984-01-01',periods=40,freq='b')

DatetimeIndex(['1983-11-07', '1983-11-08', '1983-11-09', '1983-11-10',
               '1983-11-11', '1983-11-14', '1983-11-15', '1983-11-16',
               '1983-11-17', '1983-11-18', '1983-11-21', '1983-11-22',
               '1983-11-23', '1983-11-24', '1983-11-25', '1983-11-28',
               '1983-11-29', '1983-11-30', '1983-12-01', '1983-12-02',
               '1983-12-05', '1983-12-06', '1983-12-07', '1983-12-08',
               '1983-12-09', '1983-12-12', '1983-12-13', '1983-12-14',
               '1983-12-15', '1983-12-16', '1983-12-19', '1983-12-20',
               '1983-12-21', '1983-12-22', '1983-12-23', '1983-12-26',
               '1983-12-27', '1983-12-28', '1983-12-29', '1983-12-30'],
              dtype='datetime64[ns]', freq='B')

In [34]:
pd.date_range(end='1984-01-01',periods=40,freq='W-SUn')

DatetimeIndex(['1983-04-03', '1983-04-10', '1983-04-17', '1983-04-24',
               '1983-05-01', '1983-05-08', '1983-05-15', '1983-05-22',
               '1983-05-29', '1983-06-05', '1983-06-12', '1983-06-19',
               '1983-06-26', '1983-07-03', '1983-07-10', '1983-07-17',
               '1983-07-24', '1983-07-31', '1983-08-07', '1983-08-14',
               '1983-08-21', '1983-08-28', '1983-09-04', '1983-09-11',
               '1983-09-18', '1983-09-25', '1983-10-02', '1983-10-09',
               '1983-10-16', '1983-10-23', '1983-10-30', '1983-11-06',
               '1983-11-13', '1983-11-20', '1983-11-27', '1983-12-04',
               '1983-12-11', '1983-12-18', '1983-12-25', '1984-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [35]:
pd.date_range(end='1984-01-01',periods=40,freq='W-fri')

DatetimeIndex(['1983-04-01', '1983-04-08', '1983-04-15', '1983-04-22',
               '1983-04-29', '1983-05-06', '1983-05-13', '1983-05-20',
               '1983-05-27', '1983-06-03', '1983-06-10', '1983-06-17',
               '1983-06-24', '1983-07-01', '1983-07-08', '1983-07-15',
               '1983-07-22', '1983-07-29', '1983-08-05', '1983-08-12',
               '1983-08-19', '1983-08-26', '1983-09-02', '1983-09-09',
               '1983-09-16', '1983-09-23', '1983-09-30', '1983-10-07',
               '1983-10-14', '1983-10-21', '1983-10-28', '1983-11-04',
               '1983-11-11', '1983-11-18', '1983-11-25', '1983-12-02',
               '1983-12-09', '1983-12-16', '1983-12-23', '1983-12-30'],
              dtype='datetime64[ns]', freq='W-FRI')

In [40]:
pd.date_range(end='1984-01-01',periods=40,freq='M') # FIN DE MES

DatetimeIndex(['1980-09-30', '1980-10-31', '1980-11-30', '1980-12-31',
               '1981-01-31', '1981-02-28', '1981-03-31', '1981-04-30',
               '1981-05-31', '1981-06-30', '1981-07-31', '1981-08-31',
               '1981-09-30', '1981-10-31', '1981-11-30', '1981-12-31',
               '1982-01-31', '1982-02-28', '1982-03-31', '1982-04-30',
               '1982-05-31', '1982-06-30', '1982-07-31', '1982-08-31',
               '1982-09-30', '1982-10-31', '1982-11-30', '1982-12-31',
               '1983-01-31', '1983-02-28', '1983-03-31', '1983-04-30',
               '1983-05-31', '1983-06-30', '1983-07-31', '1983-08-31',
               '1983-09-30', '1983-10-31', '1983-11-30', '1983-12-31'],
              dtype='datetime64[ns]', freq='M')

In [39]:
pd.date_range(end='1984-01-01',periods=40,freq='MS') # innicios DE MES

DatetimeIndex(['1980-10-01', '1980-11-01', '1980-12-01', '1981-01-01',
               '1981-02-01', '1981-03-01', '1981-04-01', '1981-05-01',
               '1981-06-01', '1981-07-01', '1981-08-01', '1981-09-01',
               '1981-10-01', '1981-11-01', '1981-12-01', '1982-01-01',
               '1982-02-01', '1982-03-01', '1982-04-01', '1982-05-01',
               '1982-06-01', '1982-07-01', '1982-08-01', '1982-09-01',
               '1982-10-01', '1982-11-01', '1982-12-01', '1983-01-01',
               '1983-02-01', '1983-03-01', '1983-04-01', '1983-05-01',
               '1983-06-01', '1983-07-01', '1983-08-01', '1983-09-01',
               '1983-10-01', '1983-11-01', '1983-12-01', '1984-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [41]:
pd.date_range(end='1984-01-01',periods=40,freq='7H')

DatetimeIndex(['1983-12-20 15:00:00', '1983-12-20 22:00:00',
               '1983-12-21 05:00:00', '1983-12-21 12:00:00',
               '1983-12-21 19:00:00', '1983-12-22 02:00:00',
               '1983-12-22 09:00:00', '1983-12-22 16:00:00',
               '1983-12-22 23:00:00', '1983-12-23 06:00:00',
               '1983-12-23 13:00:00', '1983-12-23 20:00:00',
               '1983-12-24 03:00:00', '1983-12-24 10:00:00',
               '1983-12-24 17:00:00', '1983-12-25 00:00:00',
               '1983-12-25 07:00:00', '1983-12-25 14:00:00',
               '1983-12-25 21:00:00', '1983-12-26 04:00:00',
               '1983-12-26 11:00:00', '1983-12-26 18:00:00',
               '1983-12-27 01:00:00', '1983-12-27 08:00:00',
               '1983-12-27 15:00:00', '1983-12-27 22:00:00',
               '1983-12-28 05:00:00', '1983-12-28 12:00:00',
               '1983-12-28 19:00:00', '1983-12-29 02:00:00',
               '1983-12-29 09:00:00', '1983-12-29 16:00:00',
               '1983-12-29 23:00:00', '1983-12-30 06:00:00',
               '1983-12-30 13:00:00', '1983-12-30 20:00:00',
               '1983-12-31 03:00:00', '1983-12-31 10:00:00',
               '1983-12-31 17:00:00', '1984-01-01 00:00:00'],
              dtype='datetime64[ns]', freq='7H')