In [31]:
import pandas as pd
import pandas.tseries.offsets as offst
import datetime as dt
import pandas_datareader as pdr
company= "BAC"
start="2014-01-01"
end="2018-12-31"
df=pdr.DataReader(name=company,data_source='iex',start=start,end=end)
df.index=pd.to_datetime(df.index)
df.info()
df.sort_index(inplace=True)
ec=pd.read_csv("csvs/ecommerce.csv",index_col='ID',parse_dates=['order_date','delivery_date'])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1251 entries, 2014-01-13 to 2018-12-31
Data columns (total 5 columns):
open      1251 non-null float64
high      1251 non-null float64
low       1251 non-null float64
close     1251 non-null float64
volume    1251 non-null int64
dtypes: float64(4), int64(1)
memory usage: 58.6 KB

In [9]:
tiempoq=pd.Timestamp('2011-1-25 05:04:08')
tiempoq

Timestamp('2011-01-25 05:04:08')

In [10]:
tiempoy=pd.Timestamp('2014-04-05 02:05:06')
tiempoy

Timestamp('2014-04-05 02:05:06')

In [11]:
tiempoy-tiempoq

Timedelta('1165 days 21:00:58')

In [12]:
type(tiempoy-tiempoq)

pandas._libs.tslibs.timedeltas.Timedelta

In [13]:
pd.Timedelta(days=3) # casi los mismo que offset yaers no esta

Timedelta('3 days 00:00:00')

In [14]:
pd.Timedelta(hours=12)

Timedelta('0 days 12:00:00')

In [15]:
pd.Timedelta(days=3, hours=7,weeks=7)

Timedelta('52 days 07:00:00')

In [25]:
pd.Timedelta('14 days 6 hours 12 minutes 58 second')

Timedelta('14 days 06:12:58')

In [28]:
ec.head

<bound method NDFrame.head of     order_date delivery_date
ID
1      5/24/98        2/5/99
2      4/22/92        3/6/98
4      2/10/91       8/26/92
5      7/21/92      11/20/97
7       9/2/93       6/10/98
8      6/10/93      11/11/93
9      1/25/90       10/2/94
10     2/23/92      12/30/98
11     7/12/96       7/14/97
18     6/18/95      10/13/97
19     5/10/98       5/19/98
20    10/17/92       10/6/98
23     5/30/92       8/15/99
26     4/11/96        5/4/98
30    10/22/98       1/11/99
32     1/20/90       7/24/98
33     9/21/94      10/12/96
35     9/10/93       4/28/96
36     5/15/90       2/14/94
39     3/26/90       1/25/93
41      2/6/92       5/10/96
46      9/5/95       7/19/96
50      5/3/91       7/17/99
52      9/2/94       5/14/97
53    11/29/95       6/23/98
54      8/7/96        4/4/98
58     2/11/95       4/16/95
59     9/29/95      12/16/95
60     2/14/93        8/6/95
63    12/22/90        9/2/95
..         ...           ...
932    7/25/97        4/9/98
934    5/22/95       7/11/95
935    9/26/90        3/7/98
938    3/24/93       7/15/95
939    10/1/98       12/7/98
942    4/14/92        3/3/97
943    1/30/91       12/2/99
945   10/27/92       11/3/94
946     7/2/91       2/23/96
947    6/18/91       6/11/99
949    10/7/91        1/7/92
951    10/2/91       4/18/94
953    9/26/91        5/8/94
954     8/8/93       1/23/94
956    8/23/95       1/10/99
957    10/1/94       7/25/99
958    4/26/90       6/29/97
969    9/24/96      11/16/96
972     2/7/90       11/5/95
975    6/18/97       11/2/97
981    1/31/97        3/4/98
983   12/30/94       7/29/97
984    7/25/91        2/9/99
985    7/26/95       6/18/96
986   12/10/90      12/16/92
990    6/24/91        2/2/96
991     9/9/91       3/30/98
993   11/16/90       4/27/98
994     6/3/93       6/13/93
997     1/4/90       10/3/91

[501 rows x 2 columns]>

In [32]:
ec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
order_date       501 non-null datetime64[ns]
delivery_date    501 non-null datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 11.7 KB

In [33]:
ec['delivery_date']-ec['order_date']

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
8      154 days
9     1711 days
10    2502 days
11     367 days
18     848 days
19       9 days
20    2180 days
23    2633 days
26     753 days
30      81 days
32    3107 days
33     752 days
35     961 days
36    1371 days
39    1036 days
41    1555 days
46     318 days
50    2997 days
52     985 days
53     937 days
54     605 days
58      64 days
59      78 days
60     903 days
63    1715 days
         ...
932    258 days
934     50 days
935   2719 days
938    843 days
939     67 days
942   1784 days
943   3228 days
945    737 days
946   1697 days
947   2915 days
949     92 days
951    929 days
953    955 days
954    168 days
956   1236 days
957   1758 days
958   2621 days
969     53 days
972   2097 days
975    137 days
981    397 days
983    942 days
984   2756 days
985    328 days
986    737 days
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [34]:
ec['tiempoentrega']=ec['delivery_date']-ec['order_date']

In [35]:
ec['tiempoentrega'].describe()

count                          501
mean     1217 days 22:53:53.532934
std       917 days 21:51:05.029340
min                8 days 00:00:00
25%              423 days 00:00:00
50%              998 days 00:00:00
75%             1901 days 00:00:00
max             3583 days 00:00:00
Name: tiempoentrega, dtype: object

In [36]:
ec['delivery_date']+ec['tiempoentrega']

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
8     1994-04-14
9     1999-06-09
10    2005-11-05
11    1998-07-16
18    2000-02-08
19    1998-05-28
20    2004-09-24
23    2006-10-30
26    2000-05-26
30    1999-04-02
32    2007-01-25
33    1998-11-03
35    1998-12-15
36    1997-11-16
39    1995-11-27
41    2000-08-12
46    1997-06-02
50    2007-09-30
52    2000-01-24
53    2001-01-15
54    1999-11-30
58    1995-06-19
59    1996-03-03
60    1998-01-25
63    2000-05-13
         ...
932   1998-12-23
934   1995-08-30
935   2005-08-16
938   1997-11-04
939   1999-02-12
942   2002-01-20
943   2008-10-03
945   1996-11-09
946   2000-10-16
947   2007-06-04
949   1992-04-08
951   1996-11-02
953   1996-12-18
954   1994-07-10
956   2002-05-30
957   2004-05-17
958   2004-09-01
969   1997-01-08
972   2001-08-02
975   1998-03-19
981   1999-04-05
983   2000-02-26
984   2006-08-27
985   1997-05-12
986   1994-12-23
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [37]:
ec['delivery_date']-ec['tiempoentrega']

ID
1     1998-05-24
2     1992-04-22
4     1991-02-10
5     1992-07-21
7     1993-09-02
8     1993-06-10
9     1990-01-25
10    1992-02-23
11    1996-07-12
18    1995-06-18
19    1998-05-10
20    1992-10-17
23    1992-05-30
26    1996-04-11
30    1998-10-22
32    1990-01-20
33    1994-09-21
35    1993-09-10
36    1990-05-15
39    1990-03-26
41    1992-02-06
46    1995-09-05
50    1991-05-03
52    1994-09-02
53    1995-11-29
54    1996-08-07
58    1995-02-11
59    1995-09-29
60    1993-02-14
63    1990-12-22
         ...
932   1997-07-25
934   1995-05-22
935   1990-09-26
938   1993-03-24
939   1998-10-01
942   1992-04-14
943   1991-01-30
945   1992-10-27
946   1991-07-02
947   1991-06-18
949   1991-10-07
951   1991-10-02
953   1991-09-26
954   1993-08-08
956   1995-08-23
957   1994-10-01
958   1990-04-26
969   1996-09-24
972   1990-02-07
975   1997-06-18
981   1997-01-31
983   1994-12-30
984   1991-07-25
985   1995-07-26
986   1990-12-10
990   1991-06-24
991   1991-09-09
993   1990-11-16
994   1993-06-03
997   1990-01-04
Length: 501, dtype: datetime64[ns]

In [38]:
ec['Largox2']=ec['delivery_date']+ec['tiempoentrega']

In [39]:
ec['Largox2'].describe()

count                     501
unique                    480
top       2000-01-24 00:00:00
freq                        2
first     1990-03-09 00:00:00
last      2009-10-13 00:00:00
Name: Largox2, dtype: object

In [40]:
ec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 4 columns):
order_date       501 non-null datetime64[ns]
delivery_date    501 non-null datetime64[ns]
tiempoentrega    501 non-null timedelta64[ns]
Largox2          501 non-null datetime64[ns]
dtypes: datetime64[ns](3), timedelta64[ns](1)
memory usage: 19.6 KB

In [41]:
ec['tiempoentrega'] > '365 days'

ID
1      False
2       True
4       True
5       True
7       True
8      False
9       True
10      True
11      True
18      True
19     False
20      True
23      True
26      True
30     False
32      True
33      True
35      True
36      True
39      True
41      True
46     False
50      True
52      True
53      True
54      True
58     False
59     False
60      True
63      True
       ...
932    False
934    False
935     True
938     True
939    False
942     True
943     True
945     True
946     True
947     True
949    False
951     True
953     True
954    False
956     True
957     True
958     True
969    False
972     True
975    False
981     True
983     True
984     True
985    False
986     True
990     True
991     True
993     True
994    False
997     True
Name: tiempoentrega, Length: 501, dtype: bool

In [43]:
ec[ec['tiempoentrega'] > '365 days'].head

<bound method NDFrame.head of     order_date delivery_date tiempoentrega    Largox2
ID
2   1992-04-22    1998-03-06     2144 days 2004-01-18
4   1991-02-10    1992-08-26      563 days 1994-03-12
5   1992-07-21    1997-11-20     1948 days 2003-03-22
7   1993-09-02    1998-06-10     1742 days 2003-03-18
9   1990-01-25    1994-10-02     1711 days 1999-06-09
10  1992-02-23    1998-12-30     2502 days 2005-11-05
11  1996-07-12    1997-07-14      367 days 1998-07-16
18  1995-06-18    1997-10-13      848 days 2000-02-08
20  1992-10-17    1998-10-06     2180 days 2004-09-24
23  1992-05-30    1999-08-15     2633 days 2006-10-30
26  1996-04-11    1998-05-04      753 days 2000-05-26
32  1990-01-20    1998-07-24     3107 days 2007-01-25
33  1994-09-21    1996-10-12      752 days 1998-11-03
35  1993-09-10    1996-04-28      961 days 1998-12-15
36  1990-05-15    1994-02-14     1371 days 1997-11-16
39  1990-03-26    1993-01-25     1036 days 1995-11-27
41  1992-02-06    1996-05-10     1555 days 2000-08-12
50  1991-05-03    1999-07-17     2997 days 2007-09-30
52  1994-09-02    1997-05-14      985 days 2000-01-24
53  1995-11-29    1998-06-23      937 days 2001-01-15
54  1996-08-07    1998-04-04      605 days 1999-11-30
60  1993-02-14    1995-08-06      903 days 1998-01-25
63  1990-12-22    1995-09-02     1715 days 2000-05-13
64  1990-11-25    1998-05-14     2727 days 2005-10-31
66  1992-09-08    1998-12-29     2303 days 2005-04-19
67  1990-05-04    1993-02-04     1007 days 1995-11-08
70  1994-02-16    1999-11-06     2089 days 2005-07-26
71  1990-11-25    1998-04-06     2689 days 2005-08-16
73  1991-10-01    1993-05-19      596 days 1995-01-05
75  1990-06-25    1996-12-18     2368 days 2003-06-13
..         ...           ...           ...        ...
907 1994-08-11    1998-09-28     1509 days 2002-11-15
908 1993-11-04    1997-02-26     1210 days 2000-06-20
909 1991-01-19    1998-08-22     2772 days 2006-03-25
916 1994-12-03    1997-03-26      844 days 1999-07-18
918 1994-12-29    1996-07-29      578 days 1998-02-27
919 1992-01-25    1993-06-01      493 days 1994-10-07
922 1996-07-06    1998-12-05      882 days 2001-05-05
924 1991-03-17    1996-05-13     1884 days 2001-07-10
926 1990-10-31    1994-04-12     1259 days 1997-09-22
935 1990-09-26    1998-03-07     2719 days 2005-08-16
938 1993-03-24    1995-07-15      843 days 1997-11-04
942 1992-04-14    1997-03-03     1784 days 2002-01-20
943 1991-01-30    1999-12-02     3228 days 2008-10-03
945 1992-10-27    1994-11-03      737 days 1996-11-09
946 1991-07-02    1996-02-23     1697 days 2000-10-16
947 1991-06-18    1999-06-11     2915 days 2007-06-04
951 1991-10-02    1994-04-18      929 days 1996-11-02
953 1991-09-26    1994-05-08      955 days 1996-12-18
956 1995-08-23    1999-01-10     1236 days 2002-05-30
957 1994-10-01    1999-07-25     1758 days 2004-05-17
958 1990-04-26    1997-06-29     2621 days 2004-09-01
972 1990-02-07    1995-11-05     2097 days 2001-08-02
981 1997-01-31    1998-03-04      397 days 1999-04-05
983 1994-12-30    1997-07-29      942 days 2000-02-26
984 1991-07-25    1999-02-09     2756 days 2006-08-27
986 1990-12-10    1992-12-16      737 days 1994-12-23
990 1991-06-24    1996-02-02     1684 days 2000-09-12
991 1991-09-09    1998-03-30     2394 days 2004-10-18
993 1990-11-16    1998-04-27     2719 days 2005-10-06
997 1990-01-04    1991-10-03      637 days 1993-07-01

[394 rows x 4 columns]>

In [48]:
ec[ec['tiempoentrega'] =='321 days'].head

<bound method NDFrame.head of Empty DataFrame
Columns: [order_date, delivery_date, tiempoentrega, Largox2]
Index: []>

In [50]:
ec['tiempoentrega'].min()

Timedelta('8 days 00:00:00')