In [7]:
import pandas as pd
import datetime as dt
dates=pd.date_range(start='2000-01-01',end='2010-12-31',freq='24D')

In [6]:
s=pd.Series(dates)

In [9]:
ass=s.dt.month
ass

0       1
1       1
2       2
3       3
4       4
5       4
6       5
7       6
8       7
9       8
10      8
11      9
12     10
13     11
14     12
15     12
16      1
17      2
18      3
19      4
20      4
21      5
22      6
23      7
24      7
25      8
26      9
27     10
28     11
29     11
       ..
138     1
139     2
140     3
141     4
142     5
143     5
144     6
145     7
146     8
147     8
148     9
149    10
150    11
151    12
152    12
153     1
154     2
155     3
156     4
157     4
158     5
159     6
160     7
161     7
162     8
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [11]:
we=s.dt.weekday_name
we

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [14]:
que=s.dt.is_quarter_start
que

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [15]:
que=s.dt.is_quarter_start
s[que]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [16]:
que=s.dt.is_month_end
s[que]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]