In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
nba=pd.read_csv("csvs/nba.csv")
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [2]:
nba.Name # NAME OF COLUMNS

0                Avery Bradley
1                  Jae Crowder
2                 John Holland
3                  R.J. Hunter
4                Jonas Jerebko
5                 Amir Johnson
6                Jordan Mickey
7                 Kelly Olynyk
8                 Terry Rozier
9                 Marcus Smart
10             Jared Sullinger
11               Isaiah Thomas
12                 Evan Turner
13                 James Young
14                Tyler Zeller
15            Bojan Bogdanovic
16                Markel Brown
17             Wayne Ellington
18     Rondae Hollis-Jefferson
19                Jarrett Jack
20              Sergey Karasev
21             Sean Kilpatrick
22                Shane Larkin
23                 Brook Lopez
24            Chris McCullough
25                 Willie Reed
26             Thomas Robinson
27                  Henry Sims
28                Donald Sloan
29              Thaddeus Young
                ...
428            Al-Farouq Aminu
429            Pat Connaughton
430               Allen Crabbe
431                   Ed Davis
432           Maurice Harkless
433           Gerald Henderson
434                Chris Kaman
435             Meyers Leonard
436             Damian Lillard
437              C.J. McCollum
438               Luis Montero
439              Mason Plumlee
440              Brian Roberts
441                Noah Vonleh
442              Trevor Booker
443                 Trey Burke
444                 Alec Burks
445                 Dante Exum
446             Derrick Favors
447                Rudy Gobert
448             Gordon Hayward
449                Rodney Hood
450                 Joe Ingles
451              Chris Johnson
452                 Trey Lyles
453               Shelvin Mack
454                  Raul Neto
455               Tibor Pleiss
456                Jeff Withey
457                        NaN
Name: Name, Length: 458, dtype: object

In [3]:
nba.Number

0       0.0
1      99.0
2      30.0
3      28.0
4       8.0
5      90.0
6      55.0
7      41.0
8      12.0
9      36.0
10      7.0
11      4.0
12     11.0
13     13.0
14     44.0
15     44.0
16     22.0
17     21.0
18     24.0
19      2.0
20     10.0
21      6.0
22      0.0
23     11.0
24      1.0
25     33.0
26     41.0
27     14.0
28     15.0
29     30.0
       ...
428     8.0
429     5.0
430    23.0
431    17.0
432     4.0
433     9.0
434    35.0
435    11.0
436     0.0
437     3.0
438    44.0
439    24.0
440     2.0
441    21.0
442    33.0
443     3.0
444    10.0
445    11.0
446    15.0
447    27.0
448    20.0
449     5.0
450     2.0
451    23.0
452    41.0
453     8.0
454    25.0
455    21.0
456    24.0
457     NaN
Name: Number, Length: 458, dtype: float64

In [4]:
nba.Salary

0       7730337.0
1       6796117.0
2             NaN
3       1148640.0
4       5000000.0
5      12000000.0
6       1170960.0
7       2165160.0
8       1824360.0
9       3431040.0
10      2569260.0
11      6912869.0
12      3425510.0
13      1749840.0
14      2616975.0
15      3425510.0
16       845059.0
17      1500000.0
18      1335480.0
19      6300000.0
20      1599840.0
21       134215.0
22      1500000.0
23     19689000.0
24      1140240.0
25       947276.0
26       981348.0
27       947276.0
28       947276.0
29     11235955.0
          ...
428     8042895.0
429      625093.0
430      947276.0
431     6980802.0
432     2894059.0
433     6000000.0
434     5016000.0
435     3075880.0
436     4236287.0
437     2525160.0
438      525093.0
439     1415520.0
440     2854940.0
441     2637720.0
442     4775000.0
443     2658240.0
444     9463484.0
445     3777720.0
446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [5]:
type(nba.Salary)

pandas.core.series.Series

In [7]:
nba[["Name","Team"]].head

<bound method NDFrame.head of                         Name                    Team
0              Avery Bradley          Boston Celtics
1                Jae Crowder          Boston Celtics
2               John Holland          Boston Celtics
3                R.J. Hunter          Boston Celtics
4              Jonas Jerebko          Boston Celtics
5               Amir Johnson          Boston Celtics
6              Jordan Mickey          Boston Celtics
7               Kelly Olynyk          Boston Celtics
8               Terry Rozier          Boston Celtics
9               Marcus Smart          Boston Celtics
10           Jared Sullinger          Boston Celtics
11             Isaiah Thomas          Boston Celtics
12               Evan Turner          Boston Celtics
13               James Young          Boston Celtics
14              Tyler Zeller          Boston Celtics
15          Bojan Bogdanovic           Brooklyn Nets
16              Markel Brown           Brooklyn Nets
17           Wayne Ellington           Brooklyn Nets
18   Rondae Hollis-Jefferson           Brooklyn Nets
19              Jarrett Jack           Brooklyn Nets
20            Sergey Karasev           Brooklyn Nets
21           Sean Kilpatrick           Brooklyn Nets
22              Shane Larkin           Brooklyn Nets
23               Brook Lopez           Brooklyn Nets
24          Chris McCullough           Brooklyn Nets
25               Willie Reed           Brooklyn Nets
26           Thomas Robinson           Brooklyn Nets
27                Henry Sims           Brooklyn Nets
28              Donald Sloan           Brooklyn Nets
29            Thaddeus Young           Brooklyn Nets
..                       ...                     ...
428          Al-Farouq Aminu  Portland Trail Blazers
429          Pat Connaughton  Portland Trail Blazers
430             Allen Crabbe  Portland Trail Blazers
431                 Ed Davis  Portland Trail Blazers
432         Maurice Harkless  Portland Trail Blazers
433         Gerald Henderson  Portland Trail Blazers
434              Chris Kaman  Portland Trail Blazers
435           Meyers Leonard  Portland Trail Blazers
436           Damian Lillard  Portland Trail Blazers
437            C.J. McCollum  Portland Trail Blazers
438             Luis Montero  Portland Trail Blazers
439            Mason Plumlee  Portland Trail Blazers
440            Brian Roberts  Portland Trail Blazers
441              Noah Vonleh  Portland Trail Blazers
442            Trevor Booker               Utah Jazz
443               Trey Burke               Utah Jazz
444               Alec Burks               Utah Jazz
445               Dante Exum               Utah Jazz
446           Derrick Favors               Utah Jazz
447              Rudy Gobert               Utah Jazz
448           Gordon Hayward               Utah Jazz
449              Rodney Hood               Utah Jazz
450               Joe Ingles               Utah Jazz
451            Chris Johnson               Utah Jazz
452               Trey Lyles               Utah Jazz
453             Shelvin Mack               Utah Jazz
454                Raul Neto               Utah Jazz
455             Tibor Pleiss               Utah Jazz
456              Jeff Withey               Utah Jazz
457                      NaN                     NaN

[458 rows x 2 columns]>

In [8]:
nba[["Number","College"]].head

<bound method NDFrame.head of      Number            College
0       0.0              Texas
1      99.0          Marquette
2      30.0  Boston University
3      28.0      Georgia State
4       8.0                NaN
5      90.0                NaN
6      55.0                LSU
7      41.0            Gonzaga
8      12.0         Louisville
9      36.0     Oklahoma State
10      7.0         Ohio State
11      4.0         Washington
12     11.0         Ohio State
13     13.0           Kentucky
14     44.0     North Carolina
15     44.0                NaN
16     22.0     Oklahoma State
17     21.0     North Carolina
18     24.0            Arizona
19      2.0       Georgia Tech
20     10.0                NaN
21      6.0         Cincinnati
22      0.0         Miami (FL)
23     11.0           Stanford
24      1.0           Syracuse
25     33.0        Saint Louis
26     41.0             Kansas
27     14.0         Georgetown
28     15.0          Texas A&M
29     30.0       Georgia Tech
..      ...                ...
428     8.0        Wake Forest
429     5.0         Notre Dame
430    23.0         California
431    17.0     North Carolina
432     4.0         St. John's
433     9.0               Duke
434    35.0   Central Michigan
435    11.0           Illinois
436     0.0        Weber State
437     3.0             Lehigh
438    44.0     Westchester CC
439    24.0               Duke
440     2.0             Dayton
441    21.0            Indiana
442    33.0            Clemson
443     3.0           Michigan
444    10.0           Colorado
445    11.0                NaN
446    15.0       Georgia Tech
447    27.0                NaN
448    20.0             Butler
449     5.0               Duke
450     2.0                NaN
451    23.0             Dayton
452    41.0           Kentucky
453     8.0             Butler
454    25.0                NaN
455    21.0                NaN
456    24.0             Kansas
457     NaN                NaN

[458 rows x 2 columns]>

In [10]:
list_index=["Salary","Team","Name"]
nba[list_index].head

<bound method NDFrame.head of          Salary                    Team                     Name
0     7730337.0          Boston Celtics            Avery Bradley
1     6796117.0          Boston Celtics              Jae Crowder
2           NaN          Boston Celtics             John Holland
3     1148640.0          Boston Celtics              R.J. Hunter
4     5000000.0          Boston Celtics            Jonas Jerebko
5    12000000.0          Boston Celtics             Amir Johnson
6     1170960.0          Boston Celtics            Jordan Mickey
7     2165160.0          Boston Celtics             Kelly Olynyk
8     1824360.0          Boston Celtics             Terry Rozier
9     3431040.0          Boston Celtics             Marcus Smart
10    2569260.0          Boston Celtics          Jared Sullinger
11    6912869.0          Boston Celtics            Isaiah Thomas
12    3425510.0          Boston Celtics              Evan Turner
13    1749840.0          Boston Celtics              James Young
14    2616975.0          Boston Celtics             Tyler Zeller
15    3425510.0           Brooklyn Nets         Bojan Bogdanovic
16     845059.0           Brooklyn Nets             Markel Brown
17    1500000.0           Brooklyn Nets          Wayne Ellington
18    1335480.0           Brooklyn Nets  Rondae Hollis-Jefferson
19    6300000.0           Brooklyn Nets             Jarrett Jack
20    1599840.0           Brooklyn Nets           Sergey Karasev
21     134215.0           Brooklyn Nets          Sean Kilpatrick
22    1500000.0           Brooklyn Nets             Shane Larkin
23   19689000.0           Brooklyn Nets              Brook Lopez
24    1140240.0           Brooklyn Nets         Chris McCullough
25     947276.0           Brooklyn Nets              Willie Reed
26     981348.0           Brooklyn Nets          Thomas Robinson
27     947276.0           Brooklyn Nets               Henry Sims
28     947276.0           Brooklyn Nets             Donald Sloan
29   11235955.0           Brooklyn Nets           Thaddeus Young
..          ...                     ...                      ...
428   8042895.0  Portland Trail Blazers          Al-Farouq Aminu
429    625093.0  Portland Trail Blazers          Pat Connaughton
430    947276.0  Portland Trail Blazers             Allen Crabbe
431   6980802.0  Portland Trail Blazers                 Ed Davis
432   2894059.0  Portland Trail Blazers         Maurice Harkless
433   6000000.0  Portland Trail Blazers         Gerald Henderson
434   5016000.0  Portland Trail Blazers              Chris Kaman
435   3075880.0  Portland Trail Blazers           Meyers Leonard
436   4236287.0  Portland Trail Blazers           Damian Lillard
437   2525160.0  Portland Trail Blazers            C.J. McCollum
438    525093.0  Portland Trail Blazers             Luis Montero
439   1415520.0  Portland Trail Blazers            Mason Plumlee
440   2854940.0  Portland Trail Blazers            Brian Roberts
441   2637720.0  Portland Trail Blazers              Noah Vonleh
442   4775000.0               Utah Jazz            Trevor Booker
443   2658240.0               Utah Jazz               Trey Burke
444   9463484.0               Utah Jazz               Alec Burks
445   3777720.0               Utah Jazz               Dante Exum
446  12000000.0               Utah Jazz           Derrick Favors
447   1175880.0               Utah Jazz              Rudy Gobert
448  15409570.0               Utah Jazz           Gordon Hayward
449   1348440.0               Utah Jazz              Rodney Hood
450   2050000.0               Utah Jazz               Joe Ingles
451    981348.0               Utah Jazz            Chris Johnson
452   2239800.0               Utah Jazz               Trey Lyles
453   2433333.0               Utah Jazz             Shelvin Mack
454    900000.0               Utah Jazz                Raul Neto
455   2900000.0               Utah Jazz             Tibor Pleiss
456    947276.0               Utah Jazz              Jeff Withey
457         NaN                     NaN                      NaN

[458 rows x 3 columns]>

In [12]:
nba['Sport']="BASKETBALL"
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 10 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
Sport       458 non-null object
dtypes: float64(4), object(6)
memory usage: 35.9+ KB

In [14]:
nba.insert(3,column="deporte",value="baloncesto")
nba.head

<bound method NDFrame.head of                         Name                    Team  Number     deporte  \
0              Avery Bradley          Boston Celtics     0.0  baloncesto
1                Jae Crowder          Boston Celtics    99.0  baloncesto
2               John Holland          Boston Celtics    30.0  baloncesto
3                R.J. Hunter          Boston Celtics    28.0  baloncesto
4              Jonas Jerebko          Boston Celtics     8.0  baloncesto
5               Amir Johnson          Boston Celtics    90.0  baloncesto
6              Jordan Mickey          Boston Celtics    55.0  baloncesto
7               Kelly Olynyk          Boston Celtics    41.0  baloncesto
8               Terry Rozier          Boston Celtics    12.0  baloncesto
9               Marcus Smart          Boston Celtics    36.0  baloncesto
10           Jared Sullinger          Boston Celtics     7.0  baloncesto
11             Isaiah Thomas          Boston Celtics     4.0  baloncesto
12               Evan Turner          Boston Celtics    11.0  baloncesto
13               James Young          Boston Celtics    13.0  baloncesto
14              Tyler Zeller          Boston Celtics    44.0  baloncesto
15          Bojan Bogdanovic           Brooklyn Nets    44.0  baloncesto
16              Markel Brown           Brooklyn Nets    22.0  baloncesto
17           Wayne Ellington           Brooklyn Nets    21.0  baloncesto
18   Rondae Hollis-Jefferson           Brooklyn Nets    24.0  baloncesto
19              Jarrett Jack           Brooklyn Nets     2.0  baloncesto
20            Sergey Karasev           Brooklyn Nets    10.0  baloncesto
21           Sean Kilpatrick           Brooklyn Nets     6.0  baloncesto
22              Shane Larkin           Brooklyn Nets     0.0  baloncesto
23               Brook Lopez           Brooklyn Nets    11.0  baloncesto
24          Chris McCullough           Brooklyn Nets     1.0  baloncesto
25               Willie Reed           Brooklyn Nets    33.0  baloncesto
26           Thomas Robinson           Brooklyn Nets    41.0  baloncesto
27                Henry Sims           Brooklyn Nets    14.0  baloncesto
28              Donald Sloan           Brooklyn Nets    15.0  baloncesto
29            Thaddeus Young           Brooklyn Nets    30.0  baloncesto
..                       ...                     ...     ...         ...
428          Al-Farouq Aminu  Portland Trail Blazers     8.0  baloncesto
429          Pat Connaughton  Portland Trail Blazers     5.0  baloncesto
430             Allen Crabbe  Portland Trail Blazers    23.0  baloncesto
431                 Ed Davis  Portland Trail Blazers    17.0  baloncesto
432         Maurice Harkless  Portland Trail Blazers     4.0  baloncesto
433         Gerald Henderson  Portland Trail Blazers     9.0  baloncesto
434              Chris Kaman  Portland Trail Blazers    35.0  baloncesto
435           Meyers Leonard  Portland Trail Blazers    11.0  baloncesto
436           Damian Lillard  Portland Trail Blazers     0.0  baloncesto
437            C.J. McCollum  Portland Trail Blazers     3.0  baloncesto
438             Luis Montero  Portland Trail Blazers    44.0  baloncesto
439            Mason Plumlee  Portland Trail Blazers    24.0  baloncesto
440            Brian Roberts  Portland Trail Blazers     2.0  baloncesto
441              Noah Vonleh  Portland Trail Blazers    21.0  baloncesto
442            Trevor Booker               Utah Jazz    33.0  baloncesto
443               Trey Burke               Utah Jazz     3.0  baloncesto
444               Alec Burks               Utah Jazz    10.0  baloncesto
445               Dante Exum               Utah Jazz    11.0  baloncesto
446           Derrick Favors               Utah Jazz    15.0  baloncesto
447              Rudy Gobert               Utah Jazz    27.0  baloncesto
448           Gordon Hayward               Utah Jazz    20.0  baloncesto
449              Rodney Hood               Utah Jazz     5.0  baloncesto
450               Joe Ingles               Utah Jazz     2.0  baloncesto
451            Chris Johnson               Utah Jazz    23.0  baloncesto
452               Trey Lyles               Utah Jazz    41.0  baloncesto
453             Shelvin Mack               Utah Jazz     8.0  baloncesto
454                Raul Neto               Utah Jazz    25.0  baloncesto
455             Tibor Pleiss               Utah Jazz    21.0  baloncesto
456              Jeff Withey               Utah Jazz    24.0  baloncesto
457                      NaN                     NaN     NaN  baloncesto

    Position   Age Height  Weight            College      Salary
0         PG  25.0    6-2   180.0              Texas   7730337.0
1         SF  25.0    6-6   235.0          Marquette   6796117.0
2         SG  27.0    6-5   205.0  Boston University         NaN
3         SG  22.0    6-5   185.0      Georgia State   1148640.0
4         PF  29.0   6-10   231.0                NaN   5000000.0
5         PF  29.0    6-9   240.0                NaN  12000000.0
6         PF  21.0    6-8   235.0                LSU   1170960.0
7          C  25.0    7-0   238.0            Gonzaga   2165160.0
8         PG  22.0    6-2   190.0         Louisville   1824360.0
9         PG  22.0    6-4   220.0     Oklahoma State   3431040.0
10         C  24.0    6-9   260.0         Ohio State   2569260.0
11        PG  27.0    5-9   185.0         Washington   6912869.0
12        SG  27.0    6-7   220.0         Ohio State   3425510.0
13        SG  20.0    6-6   215.0           Kentucky   1749840.0
14         C  26.0    7-0   253.0     North Carolina   2616975.0
15        SG  27.0    6-8   216.0                NaN   3425510.0
16        SG  24.0    6-3   190.0     Oklahoma State    845059.0
17        SG  28.0    6-4   200.0     North Carolina   1500000.0
18        SG  21.0    6-7   220.0            Arizona   1335480.0
19        PG  32.0    6-3   200.0       Georgia Tech   6300000.0
20        SG  22.0    6-7   208.0                NaN   1599840.0
21        SG  26.0    6-4   219.0         Cincinnati    134215.0
22        PG  23.0   5-11   175.0         Miami (FL)   1500000.0
23         C  28.0    7-0   275.0           Stanford  19689000.0
24        PF  21.0   6-11   200.0           Syracuse   1140240.0
25        PF  26.0   6-10   220.0        Saint Louis    947276.0
26        PF  25.0   6-10   237.0             Kansas    981348.0
27         C  26.0   6-10   248.0         Georgetown    947276.0
28        PG  28.0    6-3   205.0          Texas A&M    947276.0
29        PF  27.0    6-8   221.0       Georgia Tech  11235955.0
..       ...   ...    ...     ...                ...         ...
428       SF  25.0    6-9   215.0        Wake Forest   8042895.0
429       SG  23.0    6-5   206.0         Notre Dame    625093.0
430       SG  24.0    6-6   210.0         California    947276.0
431        C  27.0   6-10   240.0     North Carolina   6980802.0
432       SF  23.0    6-9   215.0         St. John's   2894059.0
433       SG  28.0    6-5   215.0               Duke   6000000.0
434        C  34.0    7-0   265.0   Central Michigan   5016000.0
435       PF  24.0    7-1   245.0           Illinois   3075880.0
436       PG  25.0    6-3   195.0        Weber State   4236287.0
437       SG  24.0    6-4   200.0             Lehigh   2525160.0
438       SG  23.0    6-7   185.0     Westchester CC    525093.0
439        C  26.0   6-11   235.0               Duke   1415520.0
440       PG  30.0    6-1   173.0             Dayton   2854940.0
441       PF  20.0    6-9   240.0            Indiana   2637720.0
442       PF  28.0    6-8   228.0            Clemson   4775000.0
443       PG  23.0    6-1   191.0           Michigan   2658240.0
444       SG  24.0    6-6   214.0           Colorado   9463484.0
445       PG  20.0    6-6   190.0                NaN   3777720.0
446       PF  24.0   6-10   265.0       Georgia Tech  12000000.0
447        C  23.0    7-1   245.0                NaN   1175880.0
448       SF  26.0    6-8   226.0             Butler  15409570.0
449       SG  23.0    6-8   206.0               Duke   1348440.0
450       SF  28.0    6-8   226.0                NaN   2050000.0
451       SF  26.0    6-6   206.0             Dayton    981348.0
452       PF  20.0   6-10   234.0           Kentucky   2239800.0
453       PG  26.0    6-3   203.0             Butler   2433333.0
454       PG  24.0    6-1   179.0                NaN    900000.0
455        C  26.0    7-3   256.0                NaN   2900000.0
456        C  26.0    7-0   231.0             Kansas    947276.0
457      NaN   NaN    NaN     NaN                NaN         NaN

[458 rows x 10 columns]>

In [15]:
nba['Age'].head

<bound method NDFrame.head of 0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
5      29.0
6      21.0
7      25.0
8      22.0
9      22.0
10     24.0
11     27.0
12     27.0
13     20.0
14     26.0
15     27.0
16     24.0
17     28.0
18     21.0
19     32.0
20     22.0
21     26.0
22     23.0
23     28.0
24     21.0
25     26.0
26     25.0
27     26.0
28     28.0
29     27.0
       ...
428    25.0
429    23.0
430    24.0
431    27.0
432    23.0
433    28.0
434    34.0
435    24.0
436    25.0
437    24.0
438    23.0
439    26.0
440    30.0
441    20.0
442    28.0
443    23.0
444    24.0
445    20.0
446    24.0
447    23.0
448    26.0
449    23.0
450    28.0
451    26.0
452    20.0
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64>

In [16]:
nba['Age']+5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
5      34.0
6      26.0
7      30.0
8      27.0
9      27.0
10     29.0
11     32.0
12     32.0
13     25.0
14     31.0
15     32.0
16     29.0
17     33.0
18     26.0
19     37.0
20     27.0
21     31.0
22     28.0
23     33.0
24     26.0
25     31.0
26     30.0
27     31.0
28     33.0
29     32.0
       ...
428    30.0
429    28.0
430    29.0
431    32.0
432    28.0
433    33.0
434    39.0
435    29.0
436    30.0
437    29.0
438    28.0
439    31.0
440    35.0
441    25.0
442    33.0
443    28.0
444    29.0
445    25.0
446    29.0
447    28.0
448    31.0
449    28.0
450    33.0
451    31.0
452    25.0
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [19]:
nba['Salary'].head

<bound method NDFrame.head of 0       7730337.0
1       6796117.0
2             NaN
3       1148640.0
4       5000000.0
5      12000000.0
6       1170960.0
7       2165160.0
8       1824360.0
9       3431040.0
10      2569260.0
11      6912869.0
12      3425510.0
13      1749840.0
14      2616975.0
15      3425510.0
16       845059.0
17      1500000.0
18      1335480.0
19      6300000.0
20      1599840.0
21       134215.0
22      1500000.0
23     19689000.0
24      1140240.0
25       947276.0
26       981348.0
27       947276.0
28       947276.0
29     11235955.0
          ...
428     8042895.0
429      625093.0
430      947276.0
431     6980802.0
432     2894059.0
433     6000000.0
434     5016000.0
435     3075880.0
436     4236287.0
437     2525160.0
438      525093.0
439     1415520.0
440     2854940.0
441     2637720.0
442     4775000.0
443     2658240.0
444     9463484.0
445     3777720.0
446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, Length: 458, dtype: float64>

In [24]:
nba['Salary'].sub(30000) # substraer nba['Salary']- 30000
nba['Salary'].sub(3000000).head

<bound method NDFrame.head of 0       4730337.0
1       3796117.0
2             NaN
3      -1851360.0
4       2000000.0
5       9000000.0
6      -1829040.0
7       -834840.0
8      -1175640.0
9        431040.0
10      -430740.0
11      3912869.0
12       425510.0
13     -1250160.0
14      -383025.0
15       425510.0
16     -2154941.0
17     -1500000.0
18     -1664520.0
19      3300000.0
20     -1400160.0
21     -2865785.0
22     -1500000.0
23     16689000.0
24     -1859760.0
25     -2052724.0
26     -2018652.0
27     -2052724.0
28     -2052724.0
29      8235955.0
          ...
428     5042895.0
429    -2374907.0
430    -2052724.0
431     3980802.0
432     -105941.0
433     3000000.0
434     2016000.0
435       75880.0
436     1236287.0
437     -474840.0
438    -2474907.0
439    -1584480.0
440     -145060.0
441     -362280.0
442     1775000.0
443     -341760.0
444     6463484.0
445      777720.0
446     9000000.0
447    -1824120.0
448    12409570.0
449    -1651560.0
450     -950000.0
451    -2018652.0
452     -760200.0
453     -566667.0
454    -2100000.0
455     -100000.0
456    -2052724.0
457           NaN
Name: Salary, Length: 458, dtype: float64>

In [25]:
nba['kg']=nba['Weight']*0.453592
nba.head

<bound method NDFrame.head of                         Name                    Team  Number     deporte  \
0              Avery Bradley          Boston Celtics     0.0  baloncesto
1                Jae Crowder          Boston Celtics    99.0  baloncesto
2               John Holland          Boston Celtics    30.0  baloncesto
3                R.J. Hunter          Boston Celtics    28.0  baloncesto
4              Jonas Jerebko          Boston Celtics     8.0  baloncesto
5               Amir Johnson          Boston Celtics    90.0  baloncesto
6              Jordan Mickey          Boston Celtics    55.0  baloncesto
7               Kelly Olynyk          Boston Celtics    41.0  baloncesto
8               Terry Rozier          Boston Celtics    12.0  baloncesto
9               Marcus Smart          Boston Celtics    36.0  baloncesto
10           Jared Sullinger          Boston Celtics     7.0  baloncesto
11             Isaiah Thomas          Boston Celtics     4.0  baloncesto
12               Evan Turner          Boston Celtics    11.0  baloncesto
13               James Young          Boston Celtics    13.0  baloncesto
14              Tyler Zeller          Boston Celtics    44.0  baloncesto
15          Bojan Bogdanovic           Brooklyn Nets    44.0  baloncesto
16              Markel Brown           Brooklyn Nets    22.0  baloncesto
17           Wayne Ellington           Brooklyn Nets    21.0  baloncesto
18   Rondae Hollis-Jefferson           Brooklyn Nets    24.0  baloncesto
19              Jarrett Jack           Brooklyn Nets     2.0  baloncesto
20            Sergey Karasev           Brooklyn Nets    10.0  baloncesto
21           Sean Kilpatrick           Brooklyn Nets     6.0  baloncesto
22              Shane Larkin           Brooklyn Nets     0.0  baloncesto
23               Brook Lopez           Brooklyn Nets    11.0  baloncesto
24          Chris McCullough           Brooklyn Nets     1.0  baloncesto
25               Willie Reed           Brooklyn Nets    33.0  baloncesto
26           Thomas Robinson           Brooklyn Nets    41.0  baloncesto
27                Henry Sims           Brooklyn Nets    14.0  baloncesto
28              Donald Sloan           Brooklyn Nets    15.0  baloncesto
29            Thaddeus Young           Brooklyn Nets    30.0  baloncesto
..                       ...                     ...     ...         ...
428          Al-Farouq Aminu  Portland Trail Blazers     8.0  baloncesto
429          Pat Connaughton  Portland Trail Blazers     5.0  baloncesto
430             Allen Crabbe  Portland Trail Blazers    23.0  baloncesto
431                 Ed Davis  Portland Trail Blazers    17.0  baloncesto
432         Maurice Harkless  Portland Trail Blazers     4.0  baloncesto
433         Gerald Henderson  Portland Trail Blazers     9.0  baloncesto
434              Chris Kaman  Portland Trail Blazers    35.0  baloncesto
435           Meyers Leonard  Portland Trail Blazers    11.0  baloncesto
436           Damian Lillard  Portland Trail Blazers     0.0  baloncesto
437            C.J. McCollum  Portland Trail Blazers     3.0  baloncesto
438             Luis Montero  Portland Trail Blazers    44.0  baloncesto
439            Mason Plumlee  Portland Trail Blazers    24.0  baloncesto
440            Brian Roberts  Portland Trail Blazers     2.0  baloncesto
441              Noah Vonleh  Portland Trail Blazers    21.0  baloncesto
442            Trevor Booker               Utah Jazz    33.0  baloncesto
443               Trey Burke               Utah Jazz     3.0  baloncesto
444               Alec Burks               Utah Jazz    10.0  baloncesto
445               Dante Exum               Utah Jazz    11.0  baloncesto
446           Derrick Favors               Utah Jazz    15.0  baloncesto
447              Rudy Gobert               Utah Jazz    27.0  baloncesto
448           Gordon Hayward               Utah Jazz    20.0  baloncesto
449              Rodney Hood               Utah Jazz     5.0  baloncesto
450               Joe Ingles               Utah Jazz     2.0  baloncesto
451            Chris Johnson               Utah Jazz    23.0  baloncesto
452               Trey Lyles               Utah Jazz    41.0  baloncesto
453             Shelvin Mack               Utah Jazz     8.0  baloncesto
454                Raul Neto               Utah Jazz    25.0  baloncesto
455             Tibor Pleiss               Utah Jazz    21.0  baloncesto
456              Jeff Withey               Utah Jazz    24.0  baloncesto
457                      NaN                     NaN     NaN  baloncesto

    Position   Age Height  Weight            College      Salary          kg
0         PG  25.0    6-2   180.0              Texas   7730337.0   81.646560
1         SF  25.0    6-6   235.0          Marquette   6796117.0  106.594120
2         SG  27.0    6-5   205.0  Boston University         NaN   92.986360
3         SG  22.0    6-5   185.0      Georgia State   1148640.0   83.914520
4         PF  29.0   6-10   231.0                NaN   5000000.0  104.779752
5         PF  29.0    6-9   240.0                NaN  12000000.0  108.862080
6         PF  21.0    6-8   235.0                LSU   1170960.0  106.594120
7          C  25.0    7-0   238.0            Gonzaga   2165160.0  107.954896
8         PG  22.0    6-2   190.0         Louisville   1824360.0   86.182480
9         PG  22.0    6-4   220.0     Oklahoma State   3431040.0   99.790240
10         C  24.0    6-9   260.0         Ohio State   2569260.0  117.933920
11        PG  27.0    5-9   185.0         Washington   6912869.0   83.914520
12        SG  27.0    6-7   220.0         Ohio State   3425510.0   99.790240
13        SG  20.0    6-6   215.0           Kentucky   1749840.0   97.522280
14         C  26.0    7-0   253.0     North Carolina   2616975.0  114.758776
15        SG  27.0    6-8   216.0                NaN   3425510.0   97.975872
16        SG  24.0    6-3   190.0     Oklahoma State    845059.0   86.182480
17        SG  28.0    6-4   200.0     North Carolina   1500000.0   90.718400
18        SG  21.0    6-7   220.0            Arizona   1335480.0   99.790240
19        PG  32.0    6-3   200.0       Georgia Tech   6300000.0   90.718400
20        SG  22.0    6-7   208.0                NaN   1599840.0   94.347136
21        SG  26.0    6-4   219.0         Cincinnati    134215.0   99.336648
22        PG  23.0   5-11   175.0         Miami (FL)   1500000.0   79.378600
23         C  28.0    7-0   275.0           Stanford  19689000.0  124.737800
24        PF  21.0   6-11   200.0           Syracuse   1140240.0   90.718400
25        PF  26.0   6-10   220.0        Saint Louis    947276.0   99.790240
26        PF  25.0   6-10   237.0             Kansas    981348.0  107.501304
27         C  26.0   6-10   248.0         Georgetown    947276.0  112.490816
28        PG  28.0    6-3   205.0          Texas A&M    947276.0   92.986360
29        PF  27.0    6-8   221.0       Georgia Tech  11235955.0  100.243832
..       ...   ...    ...     ...                ...         ...         ...
428       SF  25.0    6-9   215.0        Wake Forest   8042895.0   97.522280
429       SG  23.0    6-5   206.0         Notre Dame    625093.0   93.439952
430       SG  24.0    6-6   210.0         California    947276.0   95.254320
431        C  27.0   6-10   240.0     North Carolina   6980802.0  108.862080
432       SF  23.0    6-9   215.0         St. John's   2894059.0   97.522280
433       SG  28.0    6-5   215.0               Duke   6000000.0   97.522280
434        C  34.0    7-0   265.0   Central Michigan   5016000.0  120.201880
435       PF  24.0    7-1   245.0           Illinois   3075880.0  111.130040
436       PG  25.0    6-3   195.0        Weber State   4236287.0   88.450440
437       SG  24.0    6-4   200.0             Lehigh   2525160.0   90.718400
438       SG  23.0    6-7   185.0     Westchester CC    525093.0   83.914520
439        C  26.0   6-11   235.0               Duke   1415520.0  106.594120
440       PG  30.0    6-1   173.0             Dayton   2854940.0   78.471416
441       PF  20.0    6-9   240.0            Indiana   2637720.0  108.862080
442       PF  28.0    6-8   228.0            Clemson   4775000.0  103.418976
443       PG  23.0    6-1   191.0           Michigan   2658240.0   86.636072
444       SG  24.0    6-6   214.0           Colorado   9463484.0   97.068688
445       PG  20.0    6-6   190.0                NaN   3777720.0   86.182480
446       PF  24.0   6-10   265.0       Georgia Tech  12000000.0  120.201880
447        C  23.0    7-1   245.0                NaN   1175880.0  111.130040
448       SF  26.0    6-8   226.0             Butler  15409570.0  102.511792
449       SG  23.0    6-8   206.0               Duke   1348440.0   93.439952
450       SF  28.0    6-8   226.0                NaN   2050000.0  102.511792
451       SF  26.0    6-6   206.0             Dayton    981348.0   93.439952
452       PF  20.0   6-10   234.0           Kentucky   2239800.0  106.140528
453       PG  26.0    6-3   203.0             Butler   2433333.0   92.079176
454       PG  24.0    6-1   179.0                NaN    900000.0   81.192968
455        C  26.0    7-3   256.0                NaN   2900000.0  116.119552
456        C  26.0    7-0   231.0             Kansas    947276.0  104.779752
457      NaN   NaN    NaN     NaN                NaN         NaN         NaN

[458 rows x 11 columns]>

In [27]:
nba['millones']=nba['Salary']/ 1000000