In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
nba=pd.read_csv("csvs/nba.csv")
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [2]:
nba['Team'].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
Milwaukee Bucks           16
New York Knicks           16
Sacramento Kings          15
Los Angeles Clippers      15
Houston Rockets           15
Chicago Bulls             15
Boston Celtics            15
Miami Heat                15
Atlanta Hawks             15
Indiana Pacers            15
Toronto Raptors           15
Dallas Mavericks          15
Detroit Pistons           15
Golden State Warriors     15
Los Angeles Lakers        15
Denver Nuggets            15
Utah Jazz                 15
Philadelphia 76ers        15
Washington Wizards        15
Cleveland Cavaliers       15
Portland Trail Blazers    15
Oklahoma City Thunder     15
San Antonio Spurs         15
Brooklyn Nets             15
Phoenix Suns              15
Charlotte Hornets         15
Minnesota Timberwolves    14
Orlando Magic             14
Name: Team, dtype: int64

In [3]:
nba['Position'].value_counts()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64

In [4]:
nba['Weight'].value_counts()

220.0    29
240.0    28
250.0    26
200.0    25
205.0    22
245.0    19
235.0    17
210.0    17
225.0    17
230.0    17
185.0    16
190.0    16
195.0    15
215.0    13
175.0    12
260.0    10
255.0    10
265.0     8
228.0     7
270.0     6
275.0     5
206.0     5
189.0     4
218.0     4
194.0     4
212.0     4
180.0     4
186.0     4
237.0     4
226.0     3
         ..
207.0     1
216.0     1
183.0     1
280.0     1
256.0     1
279.0     1
241.0     1
290.0     1
244.0     1
173.0     1
223.0     1
161.0     1
221.0     1
170.0     1
193.0     1
233.0     1
188.0     1
243.0     1
192.0     1
229.0     1
249.0     1
217.0     1
202.0     1
252.0     1
254.0     1
278.0     1
227.0     1
239.0     1
289.0     1
307.0     1
Name: Weight, Length: 87, dtype: int64

In [5]:
nba['Salary'].value_counts()

947276.0      31
845059.0      18
525093.0      13
981348.0       6
1100602.0      5
16407500.0     5
5000000.0      5
12000000.0     5
8000000.0      5
4000000.0      5
3000000.0      4
7000000.0      4
2814000.0      4
1000000.0      4
19689000.0     4
200600.0       3
8500000.0      3
2500000.0      3
1015421.0      3
2854940.0      3
13500000.0     3
5543725.0      3
2288205.0      2
1270964.0      2
2900000.0      2
1007026.0      2
111444.0       2
13000000.0     2
1500000.0      2
1842000.0      2
              ..
2239800.0      1
1474440.0      1
19688000.0     1
7900000.0      1
2008748.0      1
13800000.0     1
2841960.0      1
1404600.0      1
1584480.0      1
273038.0       1
9213483.0      1
3272091.0      1
3075880.0      1
2250000.0      1
4626960.0      1
1304520.0      1
12100000.0     1
7500000.0      1
295327.0       1
2836186.0      1
6486486.0      1
5016000.0      1
3333333.0      1
1824360.0      1
8042895.0      1
1242720.0      1
2489530.0      1
5103120.0      1
9463484.0      1
700902.0       1
Name: Salary, Length: 309, dtype: int64