In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
df=pd.read_csv("csvs/employees.csv",parse_dates=['Last Login Time','Start Date'])
df['Senior Management']=df['Senior Management'].astype("bool")
df['Gender']=df['Gender'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null object
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 49.0+ KB

In [5]:
df[(df['Senior Management'])|(df['Start Date']< '1990-01-01')].head

<bound method NDFrame.head of     First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
0      Douglas    Male 1993-08-06 2019-01-05 12:42:00   97308    6.945
1       Thomas    Male 1996-03-31 2019-01-05 06:53:00   61933    4.170
3        Jerry    Male 2005-03-04 2019-01-05 13:00:00  138705    9.340
4        Larry    Male 1998-01-24 2019-01-05 16:47:00  101004    1.389
5       Dennis    Male 1987-04-18 2019-01-05 01:35:00  115163   10.125
6         Ruby  Female 1987-08-17 2019-01-05 16:20:00   65476   10.012
7          NaN  Female 2015-07-20 2019-01-05 10:43:00   45906   11.598
8       Angela  Female 2005-11-22 2019-01-05 06:29:00   95570   18.523
9      Frances  Female 2002-08-08 2019-01-05 06:51:00  139852    7.524
10      Louise  Female 1980-08-12 2019-01-05 09:01:00   63241   15.132
11       Julie  Female 1997-10-26 2019-01-05 15:19:00  102508   12.637
12     Brandon    Male 1980-12-01 2019-01-05 01:08:00  112807   17.492
14    Kimberly  Female 1999-01-14 2019-01-05 07:13:00   41426   14.543
17       Shawn    Male 1986-12-07 2019-01-05 19:45:00  111737    6.414
18       Diana  Female 1981-10-23 2019-01-05 10:27:00  132940   19.082
20        Lois     NaN 1995-04-22 2019-01-05 19:18:00   64714    4.934
22      Joshua     NaN 2012-03-08 2019-01-05 01:58:00   90816   18.816
23         NaN    Male 2012-06-14 2019-01-05 16:19:00  125792    5.042
25         NaN    Male 2012-10-08 2019-01-05 01:12:00   37076   18.576
26       Craig    Male 2000-02-27 2019-01-05 07:45:00   37598    7.757
28       Terry    Male 1981-11-27 2019-01-05 18:30:00  124008   13.464
29    Benjamin    Male 2005-01-26 2019-01-05 22:06:00   79529    7.008
30   Christina  Female 2002-08-06 2019-01-05 13:19:00  118780    9.096
32         NaN    Male 1998-08-21 2019-01-05 14:27:00  122340    6.417
37       Linda  Female 1981-10-19 2019-01-05 20:49:00   57427    9.557
38   Stephanie  Female 1986-09-13 2019-01-05 01:52:00   36844    5.574
39         NaN    Male 2016-01-29 2019-01-05 02:33:00  122173    7.797
40     Michael    Male 2008-10-10 2019-01-05 11:25:00   99283    2.665
41   Christine     NaN 2015-06-28 2019-01-05 01:08:00   66582   11.308
43     Marilyn  Female 1980-12-07 2019-01-05 03:16:00   73524    5.207
..         ...     ...        ...                 ...     ...      ...
957    Jeffrey    Male 1984-02-03 2019-01-05 13:26:00   70990   15.901
958     Gloria  Female 1987-10-24 2019-01-05 04:43:00   39833    9.631
959     Albert    Male 1992-09-19 2019-01-05 02:35:00   45094    5.850
960    Stephen    Male 1989-10-29 2019-01-05 23:34:00   93997   18.093
961    Antonio     NaN 1989-06-18 2019-01-05 21:37:00  103050    3.050
963        Ann  Female 1994-09-23 2019-01-05 11:15:00   89443   17.940
964      Bruce    Male 1980-05-07 2019-01-05 20:00:00   35802   12.391
965  Catherine  Female 1989-09-25 2019-01-05 01:31:00   68164   18.393
966      Louis    Male 2011-08-16 2019-01-05 17:19:00   93022    9.146
969      Linda  Female 2010-02-04 2019-01-05 20:49:00   44486   17.308
970      Alice  Female 1988-09-03 2019-01-05 20:54:00   63571   15.397
971    Patrick    Male 2002-12-30 2019-01-05 02:01:00   75423    5.368
972     Victor     NaN 2006-07-28 2019-01-05 14:49:00   76381   11.159
974      Harry    Male 2011-08-30 2019-01-05 18:31:00   67656   16.455
976     Denise  Female 1992-10-19 2019-01-05 05:42:00  137954    4.195
978       Sean    Male 1983-01-17 2019-01-05 14:23:00   66146   11.178
979     Ernest    Male 2013-07-20 2019-01-05 06:41:00  142935   13.198
980   Kimberly  Female 2013-01-26 2019-01-05 00:57:00   46233    8.862
982       Rose  Female 1982-04-06 2019-01-05 10:43:00   91411    8.639
983       John    Male 1982-12-23 2019-01-05 22:35:00  146907   11.738
985    Stephen     NaN 1983-07-10 2019-01-05 20:10:00   85668    1.909
986      Donna  Female 1982-11-26 2019-01-05 07:04:00   82871   17.999
987     Gloria  Female 2014-12-08 2019-01-05 05:08:00  136709   10.331
990      Robin  Female 1987-07-24 2019-01-05 13:35:00  100765   10.982
991       Rose  Female 2002-08-25 2019-01-05 05:12:00  134505   11.051
992    Anthony    Male 2011-10-16 2019-01-05 08:35:00  112769   11.625
993       Tina  Female 1997-05-15 2019-01-05 15:53:00   56450   19.040
994     George    Male 2013-06-21 2019-01-05 17:47:00   98874    4.479
996    Phillip    Male 1984-01-31 2019-01-05 06:30:00   42392   19.675
999     Albert    Male 2012-05-15 2019-01-05 18:24:00  129949   10.169

     Senior Management                  Team
0                 True             Marketing
1                 True                   NaN
3                 True               Finance
4                 True       Client Services
5                False                 Legal
6                 True               Product
7                 True               Finance
8                 True           Engineering
9                 True  Business Development
10                True                   NaN
11                True                 Legal
12                True       Human Resources
14                True               Finance
17               False               Product
18               False       Client Services
20                True                 Legal
22                True       Client Services
23                True                   NaN
25                True       Client Services
26                True             Marketing
28                True       Client Services
29                True                 Legal
30                True           Engineering
32                True                   NaN
37                True       Client Services
38                True  Business Development
39                True       Client Services
40                True          Distribution
41                True  Business Development
43                True             Marketing
..                 ...                   ...
957               True                 Sales
958              False           Engineering
959               True  Business Development
960               True  Business Development
961              False                 Legal
963               True                 Sales
964               True                 Sales
965              False       Client Services
966               True       Human Resources
969               True           Engineering
970               True               Product
971               True  Business Development
972               True                 Sales
974               True       Client Services
976               True                 Legal
978              False       Human Resources
979               True               Product
980               True           Engineering
982               True       Human Resources
983              False           Engineering
985              False                 Legal
986              False             Marketing
987               True               Finance
990               True       Client Services
991               True             Marketing
992               True               Finance
993               True           Engineering
994               True             Marketing
996              False               Finance
999               True                 Sales

[653 rows x 8 columns]>

In [9]:
df[((df['First Name']=='Robert')& (df['Team']=="Client Services"))|(df['Start Date']> '2016-06-01')].head

<bound method NDFrame.head of     First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
15     Lillian  Female 2016-06-05 2019-01-05 06:09:00   59414    1.256
98        Tina  Female 2016-06-16 2019-01-05 19:47:00  100705   16.961
387     Robert    Male 1994-10-29 2019-01-05 04:26:00  123294   19.894
451      Terry     NaN 2016-07-15 2019-01-05 00:29:00  140002   19.490

     Senior Management             Team
15               False          Product
98                True        Marketing
387              False  Client Services
451               True        Marketing  >