In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
emplo=pd.read_csv("csvs/employees.csv")
emplo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null object
Last Login Time      1000 non-null object
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    933 non-null object
Team                 957 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [5]:
emplo['Start Date']=pd.to_datetime(emplo['Start Date'])
emplo['Start Date']

0     1993-08-06
1     1996-03-31
2     1993-04-23
3     2005-03-04
4     1998-01-24
5     1987-04-18
6     1987-08-17
7     2015-07-20
8     2005-11-22
9     2002-08-08
10    1980-08-12
11    1997-10-26
12    1980-12-01
13    2008-01-27
14    1999-01-14
15    2016-06-05
16    2010-09-21
17    1986-12-07
18    1981-10-23
19    2010-07-22
20    1995-04-22
21    1995-09-05
22    2012-03-08
23    2012-06-14
24    1992-07-01
25    2012-10-08
26    2000-02-27
27    1991-07-11
28    1981-11-27
29    2005-01-26
         ...
970   1988-09-03
971   2002-12-30
972   2006-07-28
973   2013-05-10
974   2011-08-30
975   1995-04-07
976   1992-10-19
977   1995-12-04
978   1983-01-17
979   2013-07-20
980   2013-01-26
981   1993-01-15
982   1982-04-06
983   1982-12-23
984   2011-10-15
985   1983-07-10
986   1982-11-26
987   2014-12-08
988   2004-10-05
989   1991-02-10
990   1987-07-24
991   2002-08-25
992   2011-10-16
993   1997-05-15
994   2013-06-21
995   2014-11-23
996   1984-01-31
997   2013-05-20
998   2013-04-20
999   2012-05-15
Name: Start Date, Length: 1000, dtype: datetime64[ns]

In [6]:
emplo['Last Login Time']=pd.to_datetime(emplo['Last Login Time'])
emplo['Last Login Time']

0     2019-01-05 12:42:00
1     2019-01-05 06:53:00
2     2019-01-05 11:17:00
3     2019-01-05 13:00:00
4     2019-01-05 16:47:00
5     2019-01-05 01:35:00
6     2019-01-05 16:20:00
7     2019-01-05 10:43:00
8     2019-01-05 06:29:00
9     2019-01-05 06:51:00
10    2019-01-05 09:01:00
11    2019-01-05 15:19:00
12    2019-01-05 01:08:00
13    2019-01-05 23:40:00
14    2019-01-05 07:13:00
15    2019-01-05 06:09:00
16    2019-01-05 05:56:00
17    2019-01-05 19:45:00
18    2019-01-05 10:27:00
19    2019-01-05 03:48:00
20    2019-01-05 19:18:00
21    2019-01-05 02:12:00
22    2019-01-05 01:58:00
23    2019-01-05 16:19:00
24    2019-01-05 22:08:00
25    2019-01-05 01:12:00
26    2019-01-05 07:45:00
27    2019-01-05 18:58:00
28    2019-01-05 18:30:00
29    2019-01-05 22:06:00
              ...
970   2019-01-05 20:54:00
971   2019-01-05 02:01:00
972   2019-01-05 14:49:00
973   2019-01-05 23:08:00
974   2019-01-05 18:31:00
975   2019-01-05 22:05:00
976   2019-01-05 05:42:00
977   2019-01-05 09:16:00
978   2019-01-05 14:23:00
979   2019-01-05 06:41:00
980   2019-01-05 00:57:00
981   2019-01-05 17:19:00
982   2019-01-05 10:43:00
983   2019-01-05 22:35:00
984   2019-01-05 16:53:00
985   2019-01-05 20:10:00
986   2019-01-05 07:04:00
987   2019-01-05 05:08:00
988   2019-01-05 09:34:00
989   2019-01-05 16:58:00
990   2019-01-05 13:35:00
991   2019-01-05 05:12:00
992   2019-01-05 08:35:00
993   2019-01-05 15:53:00
994   2019-01-05 17:47:00
995   2019-01-05 06:09:00
996   2019-01-05 06:30:00
997   2019-01-05 12:39:00
998   2019-01-05 16:45:00
999   2019-01-05 18:24:00
Name: Last Login Time, Length: 1000, dtype: datetime64[ns]

In [7]:
emplo['Senior Management']=emplo['Senior Management'].astype('bool')
emplo['Senior Management']

0       True
1       True
2      False
3       True
4       True
5      False
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13     False
14      True
15     False
16     False
17     False
18     False
19     False
20      True
21     False
22      True
23      True
24     False
25      True
26      True
27     False
28      True
29      True
       ...
970     True
971     True
972     True
973    False
974     True
975    False
976     True
977    False
978    False
979     True
980     True
981    False
982     True
983    False
984    False
985    False
986    False
987     True
988    False
989    False
990     True
991     True
992     True
993     True
994     True
995    False
996    False
997    False
998    False
999     True
Name: Senior Management, Length: 1000, dtype: bool

In [8]:
emplo['Gender']=emplo['Gender'].astype('category')

In [9]:
emplo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null object
dtypes: bool(1), datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 55.7+ KB

In [11]:
emplo=pd.read_csv("csvs/employees.csv",parse_dates=['Last Login Time','Start Date']) #parsea a datetime a la hora de cargar el csv
emplo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    933 non-null object
Team                 957 non-null object
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 62.6+ KB

In [12]:
emplo['Team']=emplo['Team'].astype('category')

In [14]:
emplo['Senior Management']=emplo['Senior Management'].astype('bool')
emplo['Senior Management']

0       True
1       True
2      False
3       True
4       True
5      False
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13     False
14      True
15     False
16     False
17     False
18     False
19     False
20      True
21     False
22      True
23      True
24     False
25      True
26      True
27     False
28      True
29      True
       ...
970     True
971     True
972     True
973    False
974     True
975    False
976     True
977    False
978    False
979     True
980     True
981    False
982     True
983    False
984    False
985    False
986    False
987     True
988    False
989    False
990     True
991     True
992     True
993     True
994     True
995    False
996    False
997    False
998    False
999     True
Name: Senior Management, Length: 1000, dtype: bool

In [15]:
emplo['Gender']=emplo['Gender'].astype('category')

In [16]:
emplo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null category
dtypes: bool(1), category(2), datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 42.6+ KB