In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
df=pd.read_csv("csvs/employees.csv",parse_dates=['Last Login Time','Start Date'])
df['Senior Management']=df['Senior Management'].astype("bool")
df['Gender']=df['Gender'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null object
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 49.0+ KB

In [5]:
df[df['Salary'].between(60000,70000,inclusive=False)].head

<bound method NDFrame.head of      First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
1        Thomas    Male 1996-03-31 2019-01-05 06:53:00   61933    4.170
6          Ruby  Female 1987-08-17 2019-01-05 16:20:00   65476   10.012
10       Louise  Female 1980-08-12 2019-01-05 09:01:00   63241   15.132
20         Lois     NaN 1995-04-22 2019-01-05 19:18:00   64714    4.934
41    Christine     NaN 2015-06-28 2019-01-05 01:08:00   66582   11.308
47        Kathy  Female 2005-06-22 2019-01-05 04:51:00   66820    9.000
57        Henry    Male 1996-06-26 2019-01-05 01:44:00   64715   15.107
59        Irene  Female 1997-05-07 2019-01-05 09:32:00   66851   11.279
65        Steve    Male 2009-11-11 2019-01-05 23:44:00   61310   12.428
74       Thomas    Male 1995-06-04 2019-01-05 14:24:00   62096   17.029
88        Donna  Female 1991-11-27 2019-01-05 13:59:00   64088    6.155
101       Aaron    Male 2012-02-17 2019-01-05 10:20:00   61602   11.849
107      Steven    Male 2013-04-23 2019-01-05 22:12:00   68680   16.565
112      Willie    Male 2003-11-27 2019-01-05 06:21:00   64363    4.023
127     William    Male 2002-09-29 2019-01-05 16:09:00   66521    5.830
129     Antonio    Male 1988-10-25 2019-01-05 13:50:00   60866   13.101
159       James     NaN 1983-11-22 2019-01-05 22:52:00   68501   14.316
179     Jessica  Female 1995-10-23 2019-01-05 05:53:00   68759   19.343
196      Steven    Male 1985-11-10 2019-01-05 10:53:00   62719   19.127
197     Carolyn  Female 2012-11-06 2019-01-05 03:51:00   69268    3.031
225       Harry    Male 2015-10-01 2019-01-05 19:47:00   64579   15.266
231       Diane  Female 1993-04-18 2019-01-05 03:22:00   64084   17.018
239     Lillian     NaN 2016-05-12 2019-01-05 15:43:00   64164   17.612
262        Anne  Female 1986-07-16 2019-01-05 14:08:00   69134    3.723
285        Judy  Female 1997-09-16 2019-01-05 00:10:00   65931    2.304
286        Todd    Male 1984-02-02 2019-01-05 10:13:00   69989   10.985
288      Walter     NaN 1999-12-21 2019-01-05 22:33:00   66757   18.099
310      Harold    Male 1990-02-20 2019-01-05 23:00:00   66775    2.158
320         NaN  Female 2008-07-08 2019-01-05 23:40:00   62960   14.356
325     Russell    Male 2005-01-02 2019-01-05 01:48:00   60388   17.885
..          ...     ...        ...                 ...     ...      ...
580       Harry    Male 1985-01-27 2019-01-05 20:18:00   65482   18.089
597      Teresa  Female 1987-06-24 2019-01-05 19:37:00   69740    8.294
612       Julie     NaN 2000-10-21 2019-01-05 01:15:00   60361    7.099
613      Teresa     NaN 1992-01-03 2019-01-05 15:47:00   63103   11.378
614        Eric    Male 2004-11-12 2019-01-05 21:16:00   65168   11.513
618       Peter    Male 1992-11-24 2019-01-05 17:43:00   69297    1.268
654        Carl    Male 1984-12-14 2019-01-05 20:49:00   63395   11.411
668       James    Male 2001-12-05 2019-01-05 07:06:00   67789   17.105
677  Jacqueline  Female 1994-09-20 2019-01-05 18:07:00   62371   15.770
679        Lori  Female 2002-09-11 2019-01-05 07:36:00   66029    3.345
704      Thomas    Male 1991-09-07 2019-01-05 09:51:00   65251   11.211
709         NaN    Male 1995-04-07 2019-01-05 04:32:00   60411   12.048
719        John    Male 1999-01-29 2019-01-05 03:07:00   67165   13.001
730      Nicole  Female 2009-04-26 2019-01-05 00:40:00   66047   18.674
742      Martin    Male 2016-02-25 2019-01-05 18:29:00   61117    2.844
745       James    Male 2008-02-16 2019-01-05 02:49:00   69111   14.625
747      Ernest    Male 2001-06-30 2019-01-05 13:46:00   61181   16.559
825      Robert     NaN 2000-12-04 2019-01-05 01:20:00   69267    5.890
831     Kenneth    Male 2015-01-15 2019-01-05 14:41:00   69112    7.588
854       Harry    Male 1985-02-10 2019-01-05 19:46:00   63046   10.411
892     Brandon    Male 1995-10-23 2019-01-05 12:04:00   60263    2.709
909      Donald    Male 1991-08-01 2019-01-05 02:25:00   61999    6.466
924     Deborah  Female 2003-11-11 2019-01-05 16:53:00   60003    9.624
937       Aaron     NaN 1986-01-22 2019-01-05 19:39:00   63126   18.424
943       Wayne    Male 2006-09-08 2019-01-05 11:09:00   67471    2.728
965   Catherine  Female 1989-09-25 2019-01-05 01:31:00   68164   18.393
970       Alice  Female 1988-09-03 2019-01-05 20:54:00   63571   15.397
974       Harry    Male 2011-08-30 2019-01-05 18:31:00   67656   16.455
978        Sean    Male 1983-01-17 2019-01-05 14:23:00   66146   11.178
998       Larry    Male 2013-04-20 2019-01-05 16:45:00   60500   11.985

     Senior Management                  Team
1                 True                   NaN
6                 True               Product
10                True                   NaN
20                True                 Legal
41                True  Business Development
47                True       Client Services
57                True       Human Resources
59               False           Engineering
65                True          Distribution
74               False             Marketing
88                True                 Legal
101               True             Marketing
107              False                 Legal
112              False             Marketing
127              False       Human Resources
129               True  Business Development
159              False             Marketing
179               True               Finance
196              False       Client Services
197              False       Client Services
225               True                 Sales
231              False               Product
239              False       Human Resources
262               True           Engineering
285              False       Human Resources
286               True               Finance
288              False          Distribution
310               True                 Legal
320               True                 Sales
325              False       Client Services
..                 ...                   ...
580              False                   NaN
597              False          Distribution
612               True          Distribution
613              False               Finance
614              False          Distribution
618              False               Finance
654              False                 Legal
668               True                 Legal
677               True       Client Services
679               True       Client Services
704              False          Distribution
709               True       Human Resources
719              False           Engineering
730               True             Marketing
742              False       Client Services
745               True  Business Development
747              False  Business Development
825               True                 Sales
831               True               Finance
854              False               Finance
892              False                 Sales
909              False               Product
924              False       Client Services
937              False       Client Services
943              False           Engineering
965              False       Client Services
970               True               Product
974               True       Client Services
978              False       Human Resources
998              False  Business Development

[86 rows x 8 columns]>

In [6]:
df[df['Bonus %'].between(2.0,5.0)].head

<bound method NDFrame.head of     First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
1       Thomas    Male 1996-03-31 2019-01-05 06:53:00   61933    4.170
20        Lois     NaN 1995-04-22 2019-01-05 19:18:00   64714    4.934
40     Michael    Male 2008-10-10 2019-01-05 11:25:00   99283    2.665
49       Chris     NaN 1980-01-24 2019-01-05 12:13:00  113590    3.055
60       Paula     NaN 2005-11-23 2019-01-05 14:01:00   48866    4.271
61      Denise  Female 2001-11-06 2019-01-05 12:03:00  106862    3.699
66       Nancy  Female 2012-12-15 2019-01-05 23:57:00  125250    2.672
69       Irene     NaN 2015-07-14 2019-01-05 16:31:00  100863    4.382
72       Bobby    Male 2007-05-07 2019-01-05 10:01:00   54043    3.833
73     Frances  Female 1999-04-04 2019-01-05 16:19:00   90582    4.709
79      Bonnie  Female 1988-11-13 2019-01-05 15:30:00  115814    4.990
85      Jeremy    Male 2008-02-01 2019-01-05 08:50:00  100238    3.887
106       Paul    Male 1993-08-04 2019-01-05 19:25:00   42146    3.046
112     Willie    Male 2003-11-27 2019-01-05 06:21:00   64363    4.023
113       Tina  Female 2009-06-12 2019-01-05 07:16:00  114767    3.711
115     Pamela  Female 1982-07-01 2019-01-05 06:51:00   54585    4.166
124    Marilyn  Female 1983-11-16 2019-01-05 08:29:00   76078    2.401
133       Lois  Female 1987-12-25 2019-01-05 16:16:00  106317    2.235
134    Carolyn  Female 2011-04-09 2019-01-05 05:38:00  109260    2.650
146   Patricia  Female 1992-11-25 2019-01-05 02:24:00   95322    4.150
147     Philip    Male 2008-07-17 2019-01-05 13:30:00   89227    3.996
173    Lillian  Female 2008-12-21 2019-01-05 18:51:00   85446    3.959
183       Ruth     NaN 1999-05-18 2019-01-05 05:56:00   98233    2.518
193    Rebecca  Female 1995-02-18 2019-01-05 06:50:00  109259    4.443
197    Carolyn  Female 2012-11-06 2019-01-05 03:51:00   69268    3.031
203      Diana  Female 2013-01-04 2019-01-05 07:53:00  103521    2.784
204     Willie    Male 2006-06-06 2019-01-05 09:45:00   55281    4.935
208   Jonathan    Male 1987-10-12 2019-01-05 02:59:00  141069    4.903
214      Julie  Female 1989-07-23 2019-01-05 13:52:00  109588    3.550
215       Mary  Female 2009-05-30 2019-01-05 23:41:00   92544    3.800
..         ...     ...        ...                 ...     ...      ...
824      Julia  Female 2014-08-18 2019-01-05 03:12:00   97566    2.147
829     Johnny    Male 2007-01-14 2019-01-05 14:54:00   71383    2.097
834       Carl     NaN 1982-02-11 2019-01-05 07:54:00   49325    2.071
835    Douglas    Male 2007-08-04 2019-01-05 05:23:00  132175    2.280
840    Lillian  Female 2002-08-26 2019-01-05 08:53:00  103854    4.924
847     Nicole     NaN 1981-05-02 2019-01-05 12:03:00   41449    4.707
848      Bobby    Male 1984-06-05 2019-01-05 07:40:00   93368    2.880
855    Phillip     NaN 2003-10-20 2019-01-05 11:09:00   89700    2.277
871     Gerald    Male 2003-03-29 2019-01-05 10:37:00   96329    2.469
873      Jason    Male 1998-05-01 2019-01-05 18:05:00   75607    4.299
874    Melissa  Female 1994-09-08 2019-01-05 04:11:00   98858    3.525
892    Brandon    Male 1995-10-23 2019-01-05 12:04:00   60263    2.709
896     Victor    Male 2010-03-10 2019-01-05 17:01:00   45267    3.942
905      Alice  Female 2013-02-09 2019-01-05 00:49:00  121250    4.363
908     Janice  Female 2009-12-17 2019-01-05 06:42:00  102697    3.283
922     Arthur    Male 2013-12-05 2019-01-05 08:44:00   86615    3.412
923      Irene     NaN 1991-02-28 2019-01-05 22:23:00  135369    4.380
928    Jeffrey    Male 1986-09-20 2019-01-05 06:06:00  111376    2.673
930      Nancy  Female 2001-09-10 2019-01-05 23:57:00   85213    2.386
931     Harold    Male 2012-06-23 2019-01-05 12:40:00  140444    3.771
932     Bonnie  Female 2008-12-23 2019-01-05 09:26:00   90427    2.010
933      Doris  Female 1993-07-05 2019-01-05 17:54:00  141439    3.799
934     Samuel    Male 1997-08-07 2019-01-05 12:40:00   43694    3.787
938       Mark     NaN 2006-09-09 2019-01-05 12:27:00   44836    2.657
939      Ralph     NaN 1995-07-28 2019-01-05 18:53:00   70635    2.147
943      Wayne    Male 2006-09-08 2019-01-05 11:09:00   67471    2.728
961    Antonio     NaN 1989-06-18 2019-01-05 21:37:00  103050    3.050
976     Denise  Female 1992-10-19 2019-01-05 05:42:00  137954    4.195
989     Justin     NaN 1991-02-10 2019-01-05 16:58:00   38344    3.794
994     George    Male 2013-06-21 2019-01-05 17:47:00   98874    4.479

     Senior Management                  Team
1                 True                   NaN
20                True                 Legal
40                True          Distribution
49               False                 Sales
60               False          Distribution
61               False  Business Development
66                True  Business Development
69                True               Finance
72               False               Product
73                True                 Sales
79               False               Product
85                True       Client Services
106              False                 Legal
112              False             Marketing
113               True           Engineering
115              False               Product
124               True               Product
133               True       Client Services
134               True  Business Development
146              False               Product
147              False                 Legal
173               True           Engineering
183               True          Distribution
193               True                 Legal
197              False       Client Services
203               True  Business Development
204               True             Marketing
208              False       Human Resources
214              False           Engineering
215              False       Client Services
..                 ...                   ...
824              False             Marketing
829               True       Human Resources
834               True  Business Development
835              False           Engineering
840               True          Distribution
847              False               Finance
848               True               Product
855               True                   NaN
871               True           Engineering
873               True                 Sales
874               True       Human Resources
892              False                 Sales
896               True                 Sales
905               True               Finance
908              False           Engineering
922               True  Business Development
923              False  Business Development
928               True  Business Development
930               True             Marketing
931              False          Distribution
932               True       Client Services
933              False  Business Development
934               True           Engineering
938              False       Client Services
939              False       Client Services
943              False           Engineering
961              False                 Legal
976               True                 Legal
989              False                 Legal
994               True             Marketing

[169 rows x 8 columns]>

In [7]:
df['Last Login Time'].between('1991-01-01','1992-01-01')

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
970    False
971    False
972    False
973    False
974    False
975    False
976    False
977    False
978    False
979    False
980    False
981    False
982    False
983    False
984    False
985    False
986    False
987    False
988    False
989    False
990    False
991    False
992    False
993    False
994    False
995    False
996    False
997    False
998    False
999    False
Name: Last Login Time, Length: 1000, dtype: bool