In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
bond=pd.read_csv("csvs/jamesbond.csv", index_col='Film')
bond.sort_index(inplace=True)
bond.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, A View to a Kill to You Only Live Twice
Data columns (total 6 columns):
Year                 26 non-null int64
Actor                26 non-null object
Director             26 non-null object
Box Office           26 non-null float64
Budget               26 non-null float64
Bond Actor Salary    18 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.4+ KB

In [3]:
bond.head

<bound method NDFrame.head of                                  Year           Actor            Director  \
Film
A View to a Kill                 1985     Roger Moore           John Glen
Casino Royale                    2006    Daniel Craig     Martin Campbell
Casino Royale                    1967     David Niven          Ken Hughes
Diamonds Are Forever             1971    Sean Connery        Guy Hamilton
Die Another Day                  2002  Pierce Brosnan        Lee Tamahori
Dr. No                           1962    Sean Connery       Terence Young
For Your Eyes Only               1981     Roger Moore           John Glen
From Russia with Love            1963    Sean Connery       Terence Young
GoldenEye                        1995  Pierce Brosnan     Martin Campbell
Goldfinger                       1964    Sean Connery        Guy Hamilton
Licence to Kill                  1989  Timothy Dalton           John Glen
Live and Let Die                 1973     Roger Moore        Guy Hamilton
Moonraker                        1979     Roger Moore       Lewis Gilbert
Never Say Never Again            1983    Sean Connery      Irvin Kershner
Octopussy                        1983     Roger Moore           John Glen
On Her Majesty's Secret Service  1969  George Lazenby       Peter R. Hunt
Quantum of Solace                2008    Daniel Craig        Marc Forster
Skyfall                          2012    Daniel Craig          Sam Mendes
Spectre                          2015    Daniel Craig          Sam Mendes
The Living Daylights             1987  Timothy Dalton           John Glen
The Man with the Golden Gun      1974     Roger Moore        Guy Hamilton
The Spy Who Loved Me             1977     Roger Moore       Lewis Gilbert
The World Is Not Enough          1999  Pierce Brosnan       Michael Apted
Thunderball                      1965    Sean Connery       Terence Young
Tomorrow Never Dies              1997  Pierce Brosnan  Roger Spottiswoode
You Only Live Twice              1967    Sean Connery       Lewis Gilbert

                                 Box Office  Budget  Bond Actor Salary
Film
A View to a Kill                      275.2    54.5                9.1
Casino Royale                         581.5   145.3                3.3
Casino Royale                         315.0    85.0                NaN
Diamonds Are Forever                  442.5    34.7                5.8
Die Another Day                       465.4   154.2               17.9
Dr. No                                448.8     7.0                0.6
For Your Eyes Only                    449.4    60.2                NaN
From Russia with Love                 543.8    12.6                1.6
GoldenEye                             518.5    76.9                5.1
Goldfinger                            820.4    18.6                3.2
Licence to Kill                       250.9    56.7                7.9
Live and Let Die                      460.3    30.8                NaN
Moonraker                             535.0    91.5                NaN
Never Say Never Again                 380.0    86.0                NaN
Octopussy                             373.8    53.9                7.8
On Her Majesty's Secret Service       291.5    37.3                0.6
Quantum of Solace                     514.2   181.4                8.1
Skyfall                               943.5   170.2               14.5
Spectre                               726.7   206.3                NaN
The Living Daylights                  313.5    68.8                5.2
The Man with the Golden Gun           334.0    27.7                NaN
The Spy Who Loved Me                  533.0    45.1                NaN
The World Is Not Enough               439.5   158.3               13.5
Thunderball                           848.1    41.9                4.7
Tomorrow Never Dies                   463.2   133.9               10.0
You Only Live Twice                   514.2    59.9                4.4  >

In [4]:
bond.rename(columns={"Year":"ANNO","Box Office":"OFICINA"},inplace=True)

In [6]:
bond.columns.values

array(['ANNO', 'Actor', 'Director', 'OFICINA', 'Budget',
       'Bond Actor Salary'], dtype=object)

In [7]:
bond.columns

Index(['ANNO', 'Actor', 'Director', 'OFICINA', 'Budget', 'Bond Actor Salary'], dtype='object')

In [11]:
bond.rename(index={"Dr. No":"DR SI","GoldenEye":"OJO DORADO "},inplace=True)

In [12]:
bond.index

Index(['A View to a Kill', 'Casino Royale', 'Casino Royale',
       'Diamonds Are Forever', 'Die Another Day', 'DR SI',
       'For Your Eyes Only', 'From Russia with Love', 'OJO DORADO ',
       'Goldfinger', 'Licence to Kill', 'Live and Let Die', 'Moonraker',
       'Never Say Never Again', 'Octopussy', 'On Her Majesty's Secret Service',
       'Quantum of Solace', 'Skyfall', 'Spectre', 'The Living Daylights',
       'The Man with the Golden Gun', 'The Spy Who Loved Me',
       'The World Is Not Enough', 'Thunderball', 'Tomorrow Never Dies',
       'You Only Live Twice'],
      dtype='object', name='Film')

In [13]:
bond.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, A View to a Kill to You Only Live Twice
Data columns (total 6 columns):
ANNO                 26 non-null int64
Actor                26 non-null object
Director             26 non-null object
OFICINA              26 non-null float64
Budget               26 non-null float64
Bond Actor Salary    18 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.4+ KB

In [16]:
bond.colums=['ANo','Actor','Director','Oficina','Budget','SALARIO']

In [17]:
bond.colums

['ANo', 'Actor', 'Director', 'Oficina', 'Budget', 'SALARIO']