In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
df=pd.read_csv("csvs/employees.csv",parse_dates=['Last Login Time','Start Date'])
df['Senior Management']=df['Senior Management'].astype("bool")
df['Gender']=df['Gender'].astype('category')
df.sort_values('First Name',inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 101 to 951
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null object
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 56.7+ KB

In [5]:
df['Salary'].describe()

count      1000.000000
mean      90662.181000
std       32923.693342
min       35013.000000
25%       62613.000000
50%       90428.000000
75%      118740.250000
max      149908.000000
Name: Salary, dtype: float64

In [6]:
df['Salary'].value_counts()

145988    2
91462     2
121160    2
147183    2
86676     2
81919     1
127654    1
119082    1
107351    1
64164     1
101036    1
41643     1
96941     1
43694     1
66224     1
39335     1
88733     1
45724     1
139959    1
46602     1
140347    1
35477     1
68028     1
96914     1
111249    1
62096     1
139917    1
133772    1
103050    1
68230     1
         ..
134505    1
144677    1
46905     1
138598    1
42341     1
89443     1
50529     1
55038     1
89434     1
46007     1
95570     1
136655    1
70990     1
58698     1
57871     1
144709    1
73706     1
63888     1
81215     1
144701    1
54585     1
42296     1
81206     1
128305    1
114356    1
90285     1
79145     1
107816    1
75661     1
69111     1
Name: Salary, Length: 995, dtype: int64

In [7]:
dfs=df.drop_duplicates(subset=['First Name'],keep='first')
dfs.head

<bound method NDFrame.head of     First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
101      Aaron    Male 2012-02-17 2019-01-05 10:20:00   61602   11.849
137       Adam    Male 2011-05-21 2019-01-05 01:45:00   95327   15.120
300       Alan    Male 1988-06-26 2019-01-05 03:54:00  111786    3.592
372     Albert    Male 1997-02-01 2019-01-05 16:20:00   67827   19.717
988      Alice  Female 2004-10-05 2019-01-05 09:34:00   47638   11.209
639     Amanda     NaN 1991-08-11 2019-01-05 14:15:00   46665   19.391
879        Amy  Female 2009-05-20 2019-01-05 06:26:00   75415   19.132
430     Andrea  Female 2010-10-01 2019-01-05 11:54:00   79123   19.422
564     Andrew    Male 1985-03-29 2019-01-05 18:57:00   43414    7.563
8       Angela  Female 2005-11-22 2019-01-05 06:29:00   95570   18.523
509        Ann  Female 1984-11-04 2019-01-05 12:17:00   90719    6.220
645       Anna     NaN 1985-03-13 2019-01-05 09:19:00   45418   10.162
262       Anne  Female 1986-07-16 2019-01-05 14:08:00   69134    3.723
87       Annie  Female 1993-01-30 2019-01-05 02:05:00  144887    8.276
886    Anthony    Male 2014-01-30 2019-01-05 21:04:00   96795   14.837
129    Antonio    Male 1988-10-25 2019-01-05 13:50:00   60866   13.101
556     Arthur    Male 2014-12-16 2019-01-05 16:56:00   66819    6.639
138     Ashley  Female 2006-05-25 2019-01-05 11:30:00  112238    6.030
735    Barbara  Female 2002-11-26 2019-01-05 05:32:00   82884    6.837
757   Benjamin    Male 1988-04-12 2019-01-05 23:32:00  123409    7.783
894      Betty  Female 2002-11-19 2019-01-05 10:40:00   37005    7.645
956    Beverly  Female 1986-10-17 2019-01-05 00:51:00   80838    8.115
838      Billy    Male 2000-04-06 2019-01-05 15:14:00  115280    9.153
776      Bobby    Male 2004-09-30 2019-01-05 22:52:00   79047   18.784
79      Bonnie  Female 1988-11-13 2019-01-05 15:30:00  115814    4.990
892    Brandon    Male 1995-10-23 2019-01-05 12:04:00   60263    2.709
872     Brenda  Female 2015-01-18 2019-01-05 16:39:00   73749   19.332
688      Brian    Male 2007-04-07 2019-01-05 22:47:00   93901   17.821
604      Bruce    Male 2013-03-15 2019-01-05 23:13:00  141335   15.427
282       Carl     NaN 2014-02-07 2019-01-05 03:57:00  125104   12.345
..         ...     ...        ...                 ...     ...      ...
696     Samuel    Male 2012-05-25 2019-01-05 16:40:00   85550   11.593
589     Sandra  Female 1995-04-24 2019-01-05 19:14:00  116931    9.657
882       Sara     NaN 2014-11-18 2019-01-05 14:47:00  135990   14.344
417      Sarah     NaN 1981-08-31 2019-01-05 14:51:00   37748    9.047
452      Scott    Male 2012-11-17 2019-01-05 14:47:00  146812    1.965
501       Sean    Male 2013-02-11 2019-01-05 19:07:00   42748    9.765
489     Sharon  Female 2011-07-01 2019-01-05 09:50:00   46007   19.731
804      Shawn    Male 2008-03-17 2019-01-05 14:12:00   39335   10.664
130    Shirley  Female 1984-05-01 2019-01-05 13:15:00   41334    6.219
475  Stephanie  Female 1992-11-26 2019-01-05 00:54:00  122121    7.937
756    Stephen    Male 1984-10-21 2019-01-05 06:26:00  121816   10.615
525      Steve    Male 1995-08-22 2019-01-05 06:58:00   67780    9.540
743     Steven    Male 1980-05-30 2019-01-05 20:25:00  100949   13.813
975      Susan  Female 1995-04-07 2019-01-05 22:05:00   92436   12.467
291      Tammy  Female 1984-11-11 2019-01-05 10:30:00  132839   17.463
613     Teresa     NaN 1992-01-03 2019-01-05 15:47:00   63103   11.378
762      Terry    Male 2004-11-10 2019-01-05 04:33:00   35633    3.947
795    Theresa     NaN 1995-10-07 2019-01-05 10:16:00   42025    3.319
967     Thomas    Male 2016-03-12 2019-01-05 15:10:00  105681   19.572
664    Timothy    Male 2010-10-06 2019-01-05 22:49:00   49473   12.463
113       Tina  Female 2009-06-12 2019-01-05 07:16:00  114767    3.711
609       Todd    Male 2010-02-16 2019-01-05 11:29:00  103405   15.910
422     Victor    Male 2005-09-24 2019-01-05 12:04:00  123144   16.261
294   Virginia  Female 1999-10-20 2019-01-05 06:23:00   46905   19.154
288     Walter     NaN 1999-12-21 2019-01-05 22:33:00   66757   18.099
433      Wanda  Female 2008-07-20 2019-01-05 13:44:00   65362    7.132
177      Wayne    Male 2012-04-07 2019-01-05 08:00:00  102652   14.085
820    William    Male 1993-11-18 2019-01-05 12:27:00   54058    5.182
450     Willie    Male 2009-08-22 2019-01-05 13:03:00   55038   19.691
7          NaN  Female 2015-07-20 2019-01-05 10:43:00   45906   11.598

     Senior Management                  Team
101               True             Marketing
137              False          Distribution
300               True           Engineering
372               True           Engineering
988              False       Human Resources
639               True       Client Services
879              False       Client Services
430              False          Distribution
564               True       Client Services
8                 True           Engineering
509              False  Business Development
645              False             Marketing
262               True           Engineering
87                True                 Sales
886              False                 Sales
129               True  Business Development
556               True             Marketing
138               True           Engineering
735               True  Business Development
757              False               Product
894               True             Marketing
956              False           Engineering
838              False          Distribution
776              False       Human Resources
79               False               Product
892              False                 Sales
872              False  Business Development
688               True                 Legal
604               True           Engineering
282              False       Client Services
..                 ...                   ...
696               True             Marketing
589               True       Human Resources
882               True          Distribution
417              False       Human Resources
452               True             Marketing
501              False          Distribution
489               True       Client Services
804              False          Distribution
130               True       Human Resources
475               True           Engineering
756               True          Distribution
525               True       Human Resources
743               True       Human Resources
975              False                 Sales
291               True       Client Services
613              False               Finance
762               True          Distribution
795               True       Human Resources
967              False           Engineering
664              False                 Legal
113               True           Engineering
609              False                 Sales
422               True               Product
294              False          Distribution
288              False          Distribution
433               True                 Legal
177               True          Distribution
820               True       Human Resources
450              False                 Legal
7                 True               Finance

[201 rows x 8 columns]>

In [8]:
dfs=df.drop_duplicates(subset=['First Name'],keep='last')
dfs.head

<bound method NDFrame.head of     First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
937      Aaron     NaN 1986-01-22 2019-01-05 19:39:00   63126   18.424
538       Adam    Male 2010-10-08 2019-01-05 21:53:00   45181    3.491
610       Alan    Male 2012-02-17 2019-01-05 00:26:00   41453   10.084
959     Albert    Male 1992-09-19 2019-01-05 02:35:00   45094    5.850
693      Alice  Female 1995-10-16 2019-01-05 21:19:00   92799    2.782
641     Amanda  Female 1995-01-25 2019-01-05 05:06:00  102081    5.203
699        Amy     NaN 1984-05-19 2019-01-05 11:47:00  102839   10.385
793     Andrea  Female 1999-07-22 2019-01-05 09:25:00  149105   13.707
940     Andrew    Male 1990-09-28 2019-01-05 09:38:00  137386    8.611
8       Angela  Female 2005-11-22 2019-01-05 06:29:00   95570   18.523
713        Ann  Female 1994-09-28 2019-01-05 05:44:00   79796    9.851
543       Anna  Female 2008-04-15 2019-01-05 14:34:00  117293    2.366
555       Anne  Female 1996-10-26 2019-01-05 20:09:00   71930   18.451
453      Annie  Female 1994-12-19 2019-01-05 06:19:00   40119    4.338
992    Anthony    Male 2011-10-16 2019-01-05 08:35:00  112769   11.625
753    Antonio    Male 1999-06-06 2019-01-05 22:54:00   41928    5.478
281     Arthur    Male 2014-01-01 2019-01-05 19:46:00  134610    6.147
114     Ashley  Female 2002-08-04 2019-01-05 11:00:00   58698    6.811
499    Barbara     NaN 1980-12-10 2019-01-05 23:04:00   90187   14.764
309   Benjamin    Male 1984-09-11 2019-01-05 06:37:00   84810   15.794
249      Betty  Female 2002-06-12 2019-01-05 03:59:00  104896   19.550
42     Beverly  Female 1998-09-09 2019-01-05 20:26:00  121918   15.835
435      Billy    Male 2006-12-01 2019-01-05 15:32:00  144709   10.069
602      Bobby     NaN 2003-07-21 2019-01-05 15:50:00   84232   15.704
856     Bonnie     NaN 2006-01-18 2019-01-05 18:52:00  108946   12.211
376    Brandon    Male 2015-10-16 2019-01-05 02:44:00  112548    4.664
284     Brenda  Female 2005-10-06 2019-01-05 21:33:00  141521    4.337
688      Brian    Male 2007-04-07 2019-01-05 22:47:00   93901   17.821
46       Bruce    Male 2009-11-28 2019-01-05 22:47:00  114796    6.796
758       Carl     NaN 2007-08-18 2019-01-05 08:01:00   98295    7.617
..         ...     ...        ...                 ...     ...      ...
328     Samuel    Male 1991-12-19 2019-01-05 02:54:00   76076    5.319
786     Sandra  Female 1989-09-07 2019-01-05 16:17:00  111468    2.580
549       Sara  Female 1980-02-25 2019-01-05 22:50:00   75484    3.186
977      Sarah  Female 1995-12-04 2019-01-05 09:16:00  124566    5.949
27       Scott     NaN 1991-07-11 2019-01-05 18:58:00  122367    5.218
150       Sean    Male 1996-05-04 2019-01-05 20:59:00  135490   19.934
389     Sharon     NaN 1984-10-28 2019-01-05 17:59:00   97635   10.413
760      Shawn    Male 2006-12-29 2019-01-05 03:05:00   57871    4.020
110    Shirley  Female 2001-06-20 2019-01-05 22:39:00  147113   16.135
38   Stephanie  Female 1986-09-13 2019-01-05 01:52:00   36844    5.574
960    Stephen    Male 1989-10-29 2019-01-05 23:34:00   93997   18.093
659      Steve     NaN 2009-08-27 2019-01-05 15:41:00   53692    4.785
345     Steven    Male 2006-11-21 2019-01-05 08:30:00   83706    6.960
360      Susan  Female 2004-09-25 2019-01-05 01:30:00   80688   18.892
291      Tammy  Female 1984-11-11 2019-01-05 10:30:00  132839   17.463
143     Teresa     NaN 2016-01-28 2019-01-05 10:55:00  140013    8.689
451      Terry     NaN 2016-07-15 2019-01-05 00:29:00  140002   19.490
929    Theresa  Female 2001-04-27 2019-01-05 21:17:00   75661    1.079
704     Thomas    Male 1991-09-07 2019-01-05 09:51:00   65251   11.211
891    Timothy    Male 1991-08-25 2019-01-05 10:37:00   92587    8.475
751       Tina  Female 1999-08-06 2019-01-05 03:18:00  102841    3.369
70        Todd     NaN 2003-06-10 2019-01-05 14:26:00   84692    6.617
896     Victor    Male 2010-03-10 2019-01-05 17:01:00   45267    3.942
93    Virginia     NaN 1994-05-07 2019-01-05 17:58:00  111858    1.601
466     Walter    Male 2007-08-04 2019-01-05 13:59:00   58789    5.461
512      Wanda  Female 1993-04-06 2019-01-05 03:11:00   78883   19.695
637      Wayne    Male 2009-09-02 2019-01-05 01:37:00  126956   18.396
127    William    Male 2002-09-29 2019-01-05 16:09:00   66521    5.830
652     Willie    Male 2009-12-05 2019-01-05 05:39:00  141932    1.017
951        NaN  Female 2010-09-14 2019-01-05 05:19:00  143638    9.662

     Senior Management                  Team
937              False       Client Services
538              False       Human Resources
610              False               Product
959               True  Business Development
693              False                 Sales
641              False                 Sales
699               True          Distribution
793               True          Distribution
940               True          Distribution
8                 True           Engineering
713              False          Distribution
543              False       Client Services
555               True               Product
453               True       Human Resources
992               True               Finance
753               True                   NaN
281               True       Human Resources
114               True  Business Development
499               True          Distribution
309              False             Marketing
249               True  Business Development
42               False                 Legal
435               True          Distribution
602               True           Engineering
856              False               Finance
376              False           Engineering
284              False       Client Services
688               True                 Legal
46               False               Finance
758               True                 Legal
..                 ...                   ...
328               True               Finance
786               True               Product
549              False               Finance
977              False               Product
27               False                 Legal
150              False             Marketing
389               True       Client Services
760               True       Human Resources
110              False                 Legal
38                True  Business Development
960               True  Business Development
659               True             Marketing
345               True       Human Resources
360               True                 Sales
291               True       Client Services
143               True           Engineering
451               True             Marketing
929               True                 Legal
704              False          Distribution
891              False               Finance
751              False       Client Services
70               False       Client Services
896               True                 Sales
93                True                 Legal
466              False                 Sales
512              False                   NaN
637              False       Human Resources
127              False       Human Resources
652               True           Engineering
951               True                   NaN

[201 rows x 8 columns]>

In [9]:
dfs=df.drop_duplicates(subset=['First Name'],keep=False) # eleimina todos los repetidos
dfs.head

<bound method NDFrame.head of     First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
8       Angela  Female 2005-11-22 2019-01-05 06:29:00   95570   18.523
688      Brian    Male 2007-04-07 2019-01-05 22:47:00   93901   17.821
190      Carol  Female 1996-03-19 2019-01-05 03:39:00   57783    9.129
887      David    Male 2009-12-05 2019-01-05 08:48:00   92242   15.407
5       Dennis    Male 1987-04-18 2019-01-05 01:35:00  115163   10.125
495     Eugene    Male 1984-05-24 2019-01-05 10:54:00   81077    2.117
33        Jean  Female 1993-12-18 2019-01-05 09:07:00  119082   16.180
832      Keith    Male 2003-02-12 2019-01-05 15:02:00  120672   19.467
291      Tammy  Female 1984-11-11 2019-01-05 10:30:00  132839   17.463

     Senior Management                  Team
8                 True           Engineering
688               True                 Legal
190              False               Finance
887              False                 Legal
5                False                 Legal
495              False                 Sales
33               False  Business Development
832              False                 Legal
291               True       Client Services  >

In [10]:
ntdf=df.drop_duplicates(subset=['Team'],keep=False) 
ntdf.head

<bound method NDFrame.head of Empty DataFrame
Columns: [First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team]
Index: []>

In [11]:
ytdf=df.drop_duplicates(subset=['First Name','Team'],keep=False) 
ytdf.head

<bound method NDFrame.head of     First Name  Gender Start Date     Last Login Time  Salary  Bonus %  \
137       Adam    Male 2011-05-21 2019-01-05 01:45:00   95327   15.120
141       Adam    Male 1990-12-24 2019-01-05 20:57:00  110194   14.727
300       Alan    Male 1988-06-26 2019-01-05 03:54:00  111786    3.592
53        Alan     NaN 2014-03-03 2019-01-05 13:28:00   40341   17.578
610       Alan    Male 2012-02-17 2019-01-05 00:26:00   41453   10.084
458     Albert    Male 2007-09-30 2019-01-05 17:34:00  102626   15.843
999     Albert    Male 2012-05-15 2019-01-05 18:24:00  129949   10.169
988      Alice  Female 2004-10-05 2019-01-05 09:34:00   47638   11.209
970      Alice  Female 1988-09-03 2019-01-05 20:54:00   63571   15.397
684      Alice  Female 2016-01-21 2019-01-05 17:07:00  117787   10.485
935      Alice  Female 1996-03-23 2019-01-05 03:09:00  131952   12.090
693      Alice  Female 1995-10-16 2019-01-05 21:19:00   92799    2.782
639     Amanda     NaN 1991-08-11 2019-01-05 14:15:00   46665   19.391
642     Amanda     NaN 2010-03-16 2019-01-05 09:17:00  135118   15.108
578     Amanda  Female 1982-03-17 2019-01-05 23:46:00  107111    1.438
553     Amanda  Female 2002-06-07 2019-01-05 07:46:00  109290   13.853
542     Amanda  Female 2004-08-01 2019-01-05 13:32:00   80803   14.077
641     Amanda  Female 1995-01-25 2019-01-05 05:06:00  102081    5.203
879        Amy  Female 2009-05-20 2019-01-05 06:26:00   75415   19.132
480        Amy  Female 2008-03-30 2019-01-05 22:54:00  106249   15.967
467        Amy  Female 2002-06-19 2019-01-05 03:06:00  122897    8.222
514        Amy     NaN 1984-12-25 2019-01-05 10:52:00   63888   18.115
699        Amy     NaN 1984-05-19 2019-01-05 11:47:00  102839   10.385
355     Andrea  Female 2003-09-14 2019-01-05 22:30:00  115913   12.121
564     Andrew    Male 1985-03-29 2019-01-05 18:57:00   43414    7.563
940     Andrew    Male 1990-09-28 2019-01-05 09:38:00  137386    8.611
8       Angela  Female 2005-11-22 2019-01-05 06:29:00   95570   18.523
509        Ann  Female 1984-11-04 2019-01-05 12:17:00   90719    6.220
963        Ann  Female 1994-09-23 2019-01-05 11:15:00   89443   17.940
731        Ann  Female 2001-07-16 2019-01-05 09:27:00  118431   12.772
..         ...     ...        ...                 ...     ...      ...
270     Thomas    Male 2011-04-06 2019-01-05 13:04:00  103235    9.554
350     Thomas     NaN 1995-08-31 2019-01-05 20:31:00   41549    3.950
704     Thomas    Male 1991-09-07 2019-01-05 09:51:00   65251   11.211
664    Timothy    Male 2010-10-06 2019-01-05 22:49:00   49473   12.463
891    Timothy    Male 1991-08-25 2019-01-05 10:37:00   92587    8.475
98        Tina  Female 2016-06-16 2019-01-05 19:47:00  100705   16.961
460       Tina  Female 2005-01-17 2019-01-05 09:11:00   88276   14.248
751       Tina  Female 1999-08-06 2019-01-05 03:18:00  102841    3.369
609       Todd    Male 2010-02-16 2019-01-05 11:29:00  103405   15.910
706       Todd    Male 1993-07-04 2019-01-05 18:53:00  128175   18.473
283       Todd    Male 2009-03-11 2019-01-05 03:43:00  107281    1.612
286       Todd    Male 1984-02-02 2019-01-05 10:13:00   69989   10.985
153     Victor     NaN 2011-03-10 2019-01-05 20:40:00   84546   10.489
245     Victor    Male 1991-04-11 2019-01-05 07:44:00   70817   17.138
294   Virginia  Female 1999-10-20 2019-01-05 06:23:00   46905   19.154
531   Virginia  Female 2010-05-02 2019-01-05 21:10:00  123649   10.154
93    Virginia     NaN 1994-05-07 2019-01-05 17:58:00  111858    1.601
288     Walter     NaN 1999-12-21 2019-01-05 22:33:00   66757   18.099
899     Walter    Male 1992-05-21 2019-01-05 00:39:00  144701   16.323
655     Walter    Male 2007-09-24 2019-01-05 23:16:00  125382   13.613
241     Walter    Male 1983-07-06 2019-01-05 23:54:00  127813    5.961
466     Walter    Male 2007-08-04 2019-01-05 13:59:00   58789    5.461
433      Wanda  Female 2008-07-20 2019-01-05 13:44:00   65362    7.132
512      Wanda  Female 1993-04-06 2019-01-05 03:11:00   78883   19.695
177      Wayne    Male 2012-04-07 2019-01-05 08:00:00  102652   14.085
448      Wayne    Male 1992-01-30 2019-01-05 15:01:00   81183   17.066
943      Wayne    Male 2006-09-08 2019-01-05 11:09:00   67471    2.728
637      Wayne    Male 2009-09-02 2019-01-05 01:37:00  126956   18.396
941    William    Male 1997-06-26 2019-01-05 08:33:00  104840   15.653
450     Willie    Male 2009-08-22 2019-01-05 13:03:00   55038   19.691

     Senior Management                  Team
137              False          Distribution
141               True               Product
300               True           Engineering
53                True               Finance
610              False               Product
458              False               Finance
999               True                 Sales
988              False       Human Resources
970               True               Product
684              False                   NaN
935              False           Engineering
693              False                 Sales
639               True       Client Services
642              False               Finance
578               True               Product
553              False           Engineering
542               True          Distribution
641              False                 Sales
879              False       Client Services
480              False                 Sales
467               True           Engineering
514               True               Product
699               True          Distribution
355              False                 Legal
564               True       Client Services
940               True          Distribution
8                 True           Engineering
509              False  Business Development
963               True                 Sales
731               True               Finance
..                 ...                   ...
270               True       Human Resources
350              False                 Sales
704              False          Distribution
664              False                 Legal
891              False               Finance
98                True             Marketing
460              False                 Legal
751              False       Client Services
609              False                 Sales
706               True                   NaN
283               True           Engineering
286               True               Finance
153               True               Finance
245              False           Engineering
294              False          Distribution
531               True             Marketing
93                True                 Legal
288              False          Distribution
899               True             Marketing
655               True       Client Services
241              False               Finance
466              False                 Sales
433               True                 Legal
512              False                   NaN
177               True          Distribution
448              False       Client Services
943              False           Engineering
637              False       Human Resources
941               True           Engineering
450              False                 Legal

[606 rows x 8 columns]>

In [12]:
df['Gender'].unique()

[Male, NaN, Female]
Categories (2, object): [Male, Female]

In [13]:
df['Team'].unique()

array(['Marketing', 'Client Services', 'Distribution', 'Product',
       'Human Resources', 'Engineering', 'Finance',
       'Business Development', 'Sales', nan, 'Legal'], dtype=object)

In [14]:
df['Team'].value_counts()

Client Services         106
Finance                 102
Business Development    101
Marketing                98
Product                  95
Sales                    94
Engineering              92
Human Resources          91
Distribution             90
Legal                    88
Name: Team, dtype: int64

In [15]:
len(df['Team'].unique())

11

In [18]:
df['Team'].nunique(dropna=True) # dropna=True no cuenta los NAN

10

In [19]:
df['Team'].nunique(dropna=False) # dropna=False  cuenta los NAN

11