In [3]:
import  pandas as pd
df=pd.read_excel('csvs/Data - Single Worksheet.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
First Name    5 non-null object
Last Name     5 non-null object
City          5 non-null object
Gender        5 non-null object
dtypes: object(4)
memory usage: 240.0+ bytes

In [4]:
dfm=pd.read_excel('csvs/Data - Multiple Worksheets.xlsx')
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
First Name    5 non-null object
Last Name     5 non-null object
City          5 non-null object
Gender        5 non-null object
dtypes: object(4)
memory usage: 240.0+ bytes

In [5]:
dfm=pd.read_excel('csvs/Data - Multiple Worksheets.xlsx',sheet_name=0)
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
First Name    5 non-null object
Last Name     5 non-null object
City          5 non-null object
Gender        5 non-null object
dtypes: object(4)
memory usage: 240.0+ bytes

In [6]:
dfm=pd.read_excel('csvs/Data - Multiple Worksheets.xlsx',sheet_name=1)
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
First Name    5 non-null object
Last Name     5 non-null object
City          5 non-null object
Gender        5 non-null object
dtypes: object(4)
memory usage: 240.0+ bytes

In [7]:
dfm=pd.read_excel('csvs/Data - Multiple Worksheets.xlsx',sheet_name='Data 1')
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
First Name    5 non-null object
Last Name     5 non-null object
City          5 non-null object
Gender        5 non-null object
dtypes: object(4)
memory usage: 240.0+ bytes

In [9]:
dfm=pd.read_excel('csvs/Data - Multiple Worksheets.xlsx',sheet_name=[0,1])
dfm

OrderedDict([(0,   First Name Last Name           City Gender
              0    Brandon     James          Miami      M
              1       Sean   Hawkins         Denver      M
              2       Judy       Day    Los Angeles      F
              3     Ashley      Ruiz  San Francisco      F
              4  Stephanie     Gomez       Portland      F),
             (1,   First Name Last Name           City Gender
              0     Parker     Power        Raleigh      F
              1    Preston  Prescott   Philadelphia      F
              2    Ronaldo   Donaldo         Bangor      M
              3      Megan   Stiller  San Francisco      M
              4     Bustin    Jieber         Austin      F)])

In [11]:
dfm[0].head

<bound method NDFrame.head of   First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F>

In [12]:
dfm[1].head

<bound method NDFrame.head of   First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F>

In [20]:
import pandas as pd
df=pd.read_csv('http://www.datosabiertos.gob.pe/sites/default/files/recursos/2017/09/DAT%20CRED.csv',encoding = "ISO-8859-1")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333076 entries, 0 to 333075
Data columns (total 10 columns):
Anio             333076 non-null int64
NroMes           333076 non-null int64
ubigeo           333076 non-null int64
Departamento     333076 non-null object
Provincia        333076 non-null object
Distrito         333076 non-null object
GrupoEdadCred    333076 non-null object
Sexo             333076 non-null object
NumControles     333076 non-null object
Casos            333076 non-null int64
dtypes: int64(4), object(6)
memory usage: 25.4+ MB

In [16]:
gvas=df['Sexo']=='F'
chamas=df['Sexo']=='M'

In [17]:
ecxelfile=pd.ExcelWriter('babitos q.xlsx')

In [21]:
gvas.to_excel(ecxelfile,sheet_name='ninas',index=False)
chamas.to_excel(ecxelfile,sheet_name='chamas',index=False,columns=["Sexo","Anio","Casos"])

In [22]:
ecxelfile.save()