In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
w1=pd.read_csv("csvs/Restaurant - Week 1 Sales.csv")
w2=pd.read_csv("csvs/Restaurant - Week 2 Sales.csv")
ct=pd.read_csv("csvs/Restaurant - Customers.csv")
fot=pd.read_csv("csvs/Restaurant - Foods.csv")

In [26]:
merge2=w1.merge(w2,how='outer',on=['Customer ID'], suffixes=['-w1','-w2'],indicator=True)

In [12]:
merge=w1.merge(w2,how='outer',on=['Food ID'], suffixes=['-w1','-w2'],indicator=True)

In [15]:
merge['_merge'].value_counts()

both          6223
right_only       0
left_only        0
Name: _merge, dtype: int64

In [16]:
merge['_merge'].describe()

count     6223
unique       1
top       both
freq      6223
Name: _merge, dtype: object

In [20]:
merge['_merge'].isin(['left_only','rigth_only'])

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
6193    False
6194    False
6195    False
6196    False
6197    False
6198    False
6199    False
6200    False
6201    False
6202    False
6203    False
6204    False
6205    False
6206    False
6207    False
6208    False
6209    False
6210    False
6211    False
6212    False
6213    False
6214    False
6215    False
6216    False
6217    False
6218    False
6219    False
6220    False
6221    False
6222    False
Name: _merge, Length: 6223, dtype: bool

In [40]:
mask=merge['_merge'].isin(['left_only','rigth_only'])
merge[mask]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Customer ID-w1</th>
      <th>Food ID</th>
      <th>Customer ID-w2</th>
      <th>_merge</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>