In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
w1=pd.read_csv("csvs/Restaurant - Week 1 Sales.csv")
w2=pd.read_csv("csvs/Restaurant - Week 2 Sales.csv")
ct=pd.read_csv("csvs/Restaurant - Customers.csv")
fot=pd.read_csv("csvs/Restaurant - Foods.csv")
fot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Food ID      10 non-null int64
Food Item    10 non-null object
Price        10 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 320.0+ bytes

In [2]:
ct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
ID            1000 non-null int64
First Name    1000 non-null object
Last Name     1000 non-null object
Gender        1000 non-null object
Company       1000 non-null object
Occupation    1000 non-null object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [9]:
w2.merge(ct,how='left',left_on='Customer ID',right_on='ID',sort=True).drop('ID',axis=1).head

<bound method NDFrame.head of      Customer ID  Food ID   First Name  Last Name  Gender        Company  \
0              8        6      Frances      Adams  Female       Dabshots
1             13        2         Ruth    Alvarez  Female    Twitterlist
2             21        4       Albert      Burns    Male      Rhynoodle
3             24        8        Donna     Thomas  Female        Jaxbean
4             27        4      Jessica    Bennett  Female  Twitternation
5             30        4       Pamela      Hicks  Female          Ntags
6             35        8       Nicole    Chapman  Female        Pixonyx
7             39       10       Teresa   Harrison  Female            Oba
8             45        8         Earl   Marshall    Male          Agivu
9             46        6         Adam       Cole    Male          Trupe
10            54        8       Amanda      Berry  Female        Jaxspan
11            55        9        Ralph       Ford    Male     Browsezoom
12            55        4        Ralph       Ford    Male     Browsezoom
13            56        3         Anne      Berry  Female        Twinder
14            70        2     Michelle     Bowman  Female        Gabvine
15            73        8      Kenneth     Miller    Male          Vimbo
16            75        4    Catherine  Carpenter  Female         Zoozzy
17            77        7         Lori    Edwards  Female        Dabvine
18            80        4       George      Mason    Male       Jaxworks
19            81       10      Mildred     Fowler  Female       Fivechat
20            98        5         Jean      Mills  Female     Fivebridge
21           101        4       Jeremy     Nelson    Male    Brainlounge
22           111        3      Patrick   Morrison    Male         Eimbee
23           122        2       Martin    Hawkins    Male        Centizu
24           122       10       Martin    Hawkins    Male        Centizu
25           127        1        Jesse  Henderson    Male          Eabox
26           131        1     Margaret     Porter  Female          Eazzy
27           132        8       Judith      Perez  Female       Jaxworks
28           136        1     Clarence        Fox    Male       Devshare
29           143        4  Christopher       Long    Male         Mybuzz
..           ...      ...          ...        ...     ...            ...
220          869        7         Paul  Carpenter    Male       Feedfire
221          877       10        Harry    Watkins    Male        Zoomdog
222          883        8        Sarah        Kim  Female     Topicshots
223          884        7    Christine     Weaver  Female         Meevee
224          888        2        Jimmy     Wright    Male          Npath
225          893        3         Adam      Lynch    Male          Jaloo
226          905        1      Richard  Fernandez    Male     Shuffletag
227          909        6       Cheryl      Davis  Female        Edgeify
228          913        2         Ryan    Simmons    Male          Eabox
229          919        8       Ronald      Welch    Male         Avamba
230          922        1       Willie      Payne    Male         Devify
231          922        2       Willie      Payne    Male         Devify
232          927        4     Nicholas     Morris    Male     Linkbridge
233          928       10      Michael      Lopez    Male         Ailane
234          936        9      Matthew     Wagner    Male       Feedspan
235          937       10       Sharon   Mcdonald  Female         Eimbee
236          937        2       Sharon   Mcdonald  Female         Eimbee
237          938       10       Steven      Reyes    Male      Jaxnation
238          940        8       Bonnie     Bowman  Female         Avavee
239          942        3      Deborah     Morgan  Female      Browsebug
240          945        4         Anne       Reed  Female   Twitterworks
241          951        5       Angela    Sanders  Female        Dabtype
242          957       10        Shawn     George    Male     Browseblab
243          959        4        Laura   Ferguson  Female        Pixonyx
244          959        2        Laura   Ferguson  Female        Pixonyx
245          968        4       Teresa   Reynolds  Female       Flashdog
246          969        3        Marie      Ortiz  Female          Meejo
247          977        7      Cynthia      Dixon  Female        Skalith
248          994        2     Clarence     Morgan    Male       Edgewire
249          996       10        Debra     Garcia  Female   Dazzlesphere

                         Occupation
0                     Developer III
1       Mechanical Systems Engineer
2                  Junior Executive
3             Chief Design Engineer
4                 Account Executive
5                   Cost Accountant
6               Electrical Engineer
7    Payment Adjustment Coordinator
8                  Dental Hygienist
9                    Accountant III
10        Automation Specialist III
11             Safety Technician IV
12             Safety Technician IV
13                         VP Sales
14                     VP Marketing
15                    Senior Editor
16                Marketing Manager
17             Sales Representative
18                       Engineer I
19                         Operator
20                 Product Engineer
21                 Web Developer IV
22      Mechanical Systems Engineer
23                Assistant Manager
24                Assistant Manager
25               Environmental Tech
26                  Sales Associate
27              Structural Engineer
28                 Graphic Designer
29         Accounting Assistant III
..                              ...
220                 Project Manager
221     Computer Systems Analyst IV
222                 Cost Accountant
223                 Data Coordiator
224   Analog Circuit Design manager
225                   Programmer IV
226                       Librarian
227                 Health Coach IV
228        Senior Financial Analyst
229            Help Desk Technician
230         Assistant Media Planner
231         Assistant Media Planner
232             Assistant Professor
233          Nuclear Power Engineer
234                  Civil Engineer
235              Recruiting Manager
236              Recruiting Manager
237                Technical Writer
238                Internal Auditor
239                  Tax Accountant
240               Director of Sales
241           Research Assistant IV
242         GIS Technical Architect
243             Electrical Engineer
244             Electrical Engineer
245    Budget/Accounting Analyst IV
246              Research Associate
247        Automation Specialist II
248                    Geologist II
249             Structural Engineer

[250 rows x 7 columns]>