In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
w1=pd.read_csv("csvs/Restaurant - Week 1 Sales.csv")
w2=pd.read_csv("csvs/Restaurant - Week 2 Sales.csv")
ct=pd.read_csv("csvs/Restaurant - Customers.csv")
fot=pd.read_csv("csvs/Restaurant - Foods.csv")
fot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Food ID      10 non-null int64
Food Item    10 non-null object
Price        10 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 320.0+ bytes

In [9]:
merge2=w1.merge(fot,how='left',on=['Food ID'], suffixes=['-w1','-w2'],indicator=True,sort=True)

In [10]:
merge2.head

<bound method NDFrame.head of      Customer ID  Food ID Food Item  Price _merge
0            658        1     Sushi   3.99   both
1            600        1     Sushi   3.99   both
2            155        1     Sushi   3.99   both
3            341        1     Sushi   3.99   both
4             20        1     Sushi   3.99   both
5             77        1     Sushi   3.99   both
6            100        1     Sushi   3.99   both
7            953        1     Sushi   3.99   both
8            504        1     Sushi   3.99   both
9            323        1     Sushi   3.99   both
10           922        1     Sushi   3.99   both
11           909        1     Sushi   3.99   both
12           602        1     Sushi   3.99   both
13            74        1     Sushi   3.99   both
14           703        1     Sushi   3.99   both
15           962        1     Sushi   3.99   both
16           968        1     Sushi   3.99   both
17           190        1     Sushi   3.99   both
18           163        1     Sushi   3.99   both
19           321        1     Sushi   3.99   both
20           310        1     Sushi   3.99   both
21           798        1     Sushi   3.99   both
22            92        1     Sushi   3.99   both
23           646        1     Sushi   3.99   both
24           202        2   Burrito   9.99   both
25           288        2   Burrito   9.99   both
26           954        2   Burrito   9.99   both
27           203        2   Burrito   9.99   both
28           876        2   Burrito   9.99   both
29            30        2   Burrito   9.99   both
..           ...      ...       ...    ...    ...
220           77        9     Donut   0.99   both
221          506        9     Donut   0.99   both
222          271        9     Donut   0.99   both
223          380        9     Donut   0.99   both
224          621        9     Donut   0.99   both
225          413        9     Donut   0.99   both
226          586       10     Drink   1.75   both
227          519       10     Drink   1.75   both
228          226       10     Drink   1.75   both
229          682       10     Drink   1.75   both
230          450       10     Drink   1.75   both
231          358       10     Drink   1.75   both
232          677       10     Drink   1.75   both
233          250       10     Drink   1.75   both
234          351       10     Drink   1.75   both
235          937       10     Drink   1.75   both
236           64       10     Drink   1.75   both
237          912       10     Drink   1.75   both
238          772       10     Drink   1.75   both
239          919       10     Drink   1.75   both
240          574       10     Drink   1.75   both
241          338       10     Drink   1.75   both
242          225       10     Drink   1.75   both
243          475       10     Drink   1.75   both
244           51       10     Drink   1.75   both
245          809       10     Drink   1.75   both
246          584       10     Drink   1.75   both
247          274       10     Drink   1.75   both
248          151       10     Drink   1.75   both
249          535       10     Drink   1.75   both

[250 rows x 5 columns]>