In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
w1=pd.read_csv("csvs/Restaurant - Week 1 Sales.csv")
w2=pd.read_csv("csvs/Restaurant - Week 2 Sales.csv")
ct=pd.read_csv("csvs/Restaurant - Customers.csv",index_col='ID')
fot=pd.read_csv("csvs/Restaurant - Foods.csv",index_col='Food ID')
fot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Food ID      10 non-null int64
Food Item    10 non-null object
Price        10 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 320.0+ bytes

In [3]:
fot.head

<bound method NDFrame.head of    Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49
5        6       Pasta  13.99
6        7       Steak  24.99
7        8       Salad  11.25
8        9       Donut   0.99
9       10       Drink   1.75>

In [5]:
ct.head

<bound method NDFrame.head of      First Name Last Name  Gender        Company  \
ID
1        Joseph   Perkins    Male        Dynazzy
2      Jennifer   Alvarez  Female           DabZ
3         Roger     Black    Male        Tagfeed
4        Steven     Evans    Male           Fatz
5          Judy  Morrison  Female        Demivee
6        Amanda    Howell  Female  Thoughtbridge
7        Johnny      Reid    Male    Babblestorm
8       Frances     Adams  Female       Dabshots
9       Gregory   Chapman    Male           Eayo
10       Steven      Ryan    Male        Twinder
11      Michael  Reynolds    Male         Meevee
12         Lois   Watkins  Female           Mydo
13         Ruth   Alvarez  Female    Twitterlist
14         Adam      Ryan    Male       Photojam
15        Jesse  Richards    Male        Demimbu
16        Scott    Arnold    Male          Meemm
17         Ruby    Palmer  Female          Roomm
18        Jason      King    Male        Flipbug
19       Pamela     Kelly  Female          Jaloo
20         Lisa      Rice  Female           Oloo
21       Albert     Burns    Male      Rhynoodle
22       Martin  Reynolds    Male        Meembee
23       Janice  Campbell  Female           DabZ
24        Donna    Thomas  Female        Jaxbean
25      Patrick     Baker    Male       Fivespan
26     Michelle     Kelly  Female    Twitterbeat
27      Jessica   Bennett  Female  Twitternation
28      Phillip   Carroll    Male          Ainyx
29         Gary     Riley    Male       Devpoint
30       Pamela     Hicks  Female          Ntags
...         ...       ...     ...            ...
971     Melissa    Wagner  Female       Riffwire
972      Rachel    Snyder  Female     Topicstorm
973      Sandra    Graham  Female       Centidel
974       Chris     Gomez    Male       Realcube
975       Laura  Stephens  Female        Dabtype
976       Emily      Cole  Female          Avamm
977     Cynthia     Dixon  Female        Skalith
978      Gerald   Sanders    Male         Meedoo
979        Ruth      Ward  Female       Jaxworks
980      Jeremy  Anderson    Male         Camido
981     Raymond  Morrison    Male          Lazzy
982   Christine    Holmes  Female       Feedfire
983      Angela    Fisher  Female           DabZ
984       Randy     Green    Male        Gabspot
985       Julia     Ortiz  Female         Kwideo
986      Harold    Parker    Male        Gabtype
987      Joshua    Howell    Male       Digitube
988        Todd     Perry    Male           Eayo
989       Jimmy     James    Male        Youopia
990       Jesse    Wagner    Male         Oyondu
991     Melissa     Wells  Female          Lazzy
992      Andrea    Howard  Female       Fanoodle
993      Edward     Mills    Male       Feedfish
994    Clarence    Morgan    Male       Edgewire
995       Sarah    Nguyen  Female         Trilia
996       Debra    Garcia  Female   Dazzlesphere
997     Douglas    Bishop    Male       Livepath
998       Frank  Franklin    Male     Brainverse
999     Jessica     Burns  Female     Babbleblab
1000      Brian   Daniels    Male          Tazzy

                          Occupation
ID
1      Community Outreach Specialist
2            Senior Quality Engineer
3                  Account Executive
4                   Registered Nurse
5                    Legal Assistant
6                   Dental Hygienist
7                  Account Executive
8                      Developer III
9                   Junior Executive
10     Community Outreach Specialist
11                  Dental Hygienist
12               Staff Accountant IV
13       Mechanical Systems Engineer
14                    Research Nurse
15             Chief Design Engineer
16       Human Resources Assistant I
17            Administrative Officer
18                 Financial Advisor
19                 Director of Sales
20                     Programmer IV
21                  Junior Executive
22       Information Systems Manager
23             Chief Design Engineer
24             Chief Design Engineer
25                   General Manager
26              Programmer Analyst I
27                 Account Executive
28                            Editor
29                Nurse Practicioner
30                   Cost Accountant
...                              ...
971                   Civil Engineer
972   Payment Adjustment Coordinator
973              Software Consultant
974     Structural Analysis Engineer
975                 Graphic Designer
976            Chief Design Engineer
977         Automation Specialist II
978               VP Quality Control
979                Account Executive
980                        Recruiter
981                Account Executive
982                 Media Manager IV
983             Help Desk Technician
984           Nuclear Power Engineer
985     Structural Analysis Engineer
986              Account Coordinator
987              Office Assistant IV
988                  Data Coordiator
989       Database Administrator III
990          Human Resources Manager
991           Senior Sales Associate
992                  Data Coordiator
993                 Health Coach III
994                     Geologist II
995                    Programmer IV
996              Structural Engineer
997                      Developer I
998               Nurse Practicioner
999                Financial Advisor
1000      Physical Therapy Assistant

[1000 rows x 5 columns]>

In [6]:
w1.head

<bound method NDFrame.head of      Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
220          147        8
221          745        4
222          184        3
223          828        8
224          578        5
225          491        4
226           62        4
227           77        9
228          506        9
229          271        9
230          584       10
231          148        5
232          595        3
233          274       10
234          646        1
235          520        8
236          644        8
237          725        8
238          934        4
239          151       10
240          945        5
241          343        3
242          380        9
243          911        4
244          621        9
245          413        9
246          926        6
247          134        3
248          396        6
249          535       10

[250 rows x 2 columns]>

In [15]:
ventas=w1.merge(ct,how='left',left_on='Customer ID',right_index=True)

In [17]:
ventas.merge(fot,how='left',left_on='Food ID',right_index=True).head

<bound method NDFrame.head of      Customer ID  Food ID_x First Name  Last Name  Gender       Company  \
0            537          9     Cheryl    Carroll  Female      Zoombeat
1             97          4     Amanda    Watkins  Female           Ozu
2            658          1    Patrick       Webb    Male     Browsebug
3            202          2      Louis   Campbell    Male     Rhynoodle
4            155          9    Carolyn       Diaz  Female      Gigazoom
5            213          8      Keith     Foster    Male     Gigashots
6            600          1     Sandra     Bailey  Female     Jaxnation
7            503          5     Justin    Daniels    Male          Oloo
8             71          3    Carolyn      Reyes  Female        Twimbo
9            174          3       Anna     Miller  Female       Innojam
10           961          9      Ralph   Richards    Male  Thoughtstorm
11           966          5     Robert       Ford    Male    Jabbertype
12           641          4      Donna  Gutierrez  Female       Dabtype
13           288          2    Kenneth    Jackson    Male         Voomm
14           149          4   Jennifer     Oliver  Female   Topiclounge
15           954          2     Thomas    Perkins    Male        Roodel
16           147          9    Theresa    Morales  Female         Abata
17           155          1    Carolyn       Diaz  Female      Gigazoom
18           550          6     Walter     Miller    Male          Yata
19           101          7     Jeremy     Nelson    Male   Brainlounge
20           549          6     Harold     Rivera    Male      Topdrive
21            75          6  Catherine  Carpenter  Female        Zoozzy
22            78          7     Robert    Kennedy    Male      Edgewire
23           514          5       Jack       Hill    Male      Blogtags
24           833          7    Carolyn       Dunn  Female         Yadel
25           329          8     Amanda     Nguyen  Female        Meezzy
26           586         10      Doris   Mcdonald  Female       Youfeed
27           341          1     Rachel   Robinson  Female       Twinder
28           519         10    Lillian     Rogers  Female         Eazzy
29           680          9      Irene     Gordon  Female       Voolith
..           ...        ...        ...        ...     ...           ...
220          147          8    Theresa    Morales  Female         Abata
221          745          4     Nicole      Garza  Female     Topiczoom
222          184          3      Jesse    Edwards    Male      Zoombeat
223          828          8       Mary      Payne  Female       Oyonder
224          578          5     Donald   Matthews    Male      Fiveclub
225          491          4       Anna    Perkins  Female         Zazio
226           62          4     Andrew     Tucker    Male        Leenti
227           77          9       Lori    Edwards  Female       Dabvine
228          506          9    Mildred    Mendoza  Female          Vitz
229          271          9    Beverly       Ward  Female      Brainbox
230          584         10    Jeffrey    Simmons    Male     Flipstorm
231          148          5   Patricia       Reid  Female  Shuffledrive
232          595          3      Bruce    Kennedy    Male          Mydo
233          274         10       Gary       Reid    Male      Fivespan
234          646          1      Wanda       Lane  Female         Twiyo
235          520          8    Melissa    Wallace  Female         Skyvu
236          644          8      Louis     Brooks    Male       Nlounge
237          725          8      Carol    Russell  Female        BlogXS
238          934          4     Joseph     Burton    Male         Leexo
239          151         10    Brandon     Oliver    Male         Voomm
240          945          5       Anne       Reed  Female  Twitterworks
241          343          3        Joe      Price    Male      Fanoodle
242          380          9     Martha      Payne  Female         Quinu
243          911          4    Patrick       Reed    Male   Jabberstorm
244          621          9        Amy       Long  Female        Skidoo
245          413          9      Diane     Bailey  Female       Wikibox
246          926          6       Anne     Wagner  Female         Skyba
247          134          3      Diana       Hall  Female         Quinu
248          396          6       Juan     Romero    Male       Zoonder
249          535         10      Nancy        Cox  Female        Trudeo

                         Occupation  Food ID_y   Food Item  Price
0                  Registered Nurse       10.0       Drink   1.75
1               Account Coordinator        5.0       Pizza   2.49
2     Community Outreach Specialist        2.0     Burrito   9.99
3        Account Representative III        3.0        Taco   2.99
4        Database Administrator III       10.0       Drink   1.75
5                VP Quality Control        9.0       Donut   0.99
6                   Sales Associate        2.0     Burrito   9.99
7                Environmental Tech        6.0       Pasta  13.99
8              Safety Technician IV        4.0  Quesadilla   4.25
9                       Developer I        4.0  Quesadilla   4.25
10                     Accountant I       10.0       Drink   1.75
11        Account Representative IV        6.0       Pasta  13.99
12              Assistant Professor        5.0       Pizza   2.49
13              Associate Professor        3.0        Taco   2.99
14       Database Administrator III        5.0       Pizza   2.49
15                Account Executive        3.0        Taco   2.99
16           Occupational Therapist       10.0       Drink   1.75
17       Database Administrator III        2.0     Burrito   9.99
18   Payment Adjustment Coordinator        7.0       Steak  24.99
19                 Web Developer IV        8.0       Salad  11.25
20                  Cost Accountant        7.0       Steak  24.99
21                Marketing Manager        7.0       Steak  24.99
22                Chemical Engineer        8.0       Salad  11.25
23              Assistant Professor        6.0       Pasta  13.99
24                        Recruiter        8.0       Salad  11.25
25              Associate Professor        9.0       Donut   0.99
26              Marketing Assistant        NaN         NaN    NaN
27             Safety Technician IV        2.0     Burrito   9.99
28                        Paralegal        NaN         NaN    NaN
29        Database Administrator II       10.0       Drink   1.75
..                              ...        ...         ...    ...
220          Occupational Therapist        9.0       Donut   0.99
221                 General Manager        5.0       Pizza   2.49
222          Administrative Officer        4.0  Quesadilla   4.25
223         Assistant Media Planner        9.0       Donut   0.99
224      Physical Therapy Assistant        6.0       Pasta  13.99
225                Quality Engineer        5.0       Pizza   2.49
226    Structural Analysis Engineer        5.0       Pizza   2.49
227            Sales Representative       10.0       Drink   1.75
228              Environmental Tech       10.0       Drink   1.75
229        Automation Specialist II       10.0       Drink   1.75
230               Chemical Engineer        NaN         NaN    NaN
231   Analog Circuit Design manager        6.0       Pasta  13.99
232                       Recruiter        4.0  Quesadilla   4.25
233             Executive Secretary        NaN         NaN    NaN
234            Help Desk Technician        2.0     Burrito   9.99
235          Administrative Officer        9.0       Donut   0.99
236              VP Quality Control        9.0       Donut   0.99
237                      Pharmacist        9.0       Donut   0.99
238            Compensation Analyst        5.0       Pizza   2.49
239                Internal Auditor        NaN         NaN    NaN
240               Director of Sales        6.0       Pasta  13.99
241               Marketing Manager        4.0  Quesadilla   4.25
242         Assistant Media Planner       10.0       Drink   1.75
243         Senior Quality Engineer        5.0       Pizza   2.49
244              Research Associate       10.0       Drink   1.75
245                Technical Writer       10.0       Drink   1.75
246                 Legal Assistant        7.0       Steak  24.99
247               Financial Advisor        4.0  Quesadilla   4.25
248              Analyst Programmer        7.0       Steak  24.99
249              Research Associate        NaN         NaN    NaN

[250 rows x 10 columns]>

In [19]:
w1.merge(w2,how='left',left_index=True,right_index=True).head

<bound method NDFrame.head of      Customer ID_x  Food ID_x  Customer ID_y  Food ID_y
0              537          9            688         10
1               97          4            813          7
2              658          1            495         10
3              202          2            189          5
4              155          9            267          3
5              213          8            310          5
6              600          1            761          2
7              503          5            443          5
8               71          3            729          9
9              174          3            741          8
10             961          9            847          6
11             966          5            156         10
12             641          4            550          7
13             288          2            620         10
14             149          4            272          4
15             954          2            511          2
16             147          9              8          6
17             155          1            534          7
18             550          6            909          6
19             101          7            732          9
20             549          6            372          4
21              75          6            713          1
22              78          7            496          3
23             514          5            381          9
24             833          7             13          2
25             329          8            101          4
26             586         10            325          7
27             341          1            674          2
28             519         10            564          8
29             680          9            578          5
..             ...        ...            ...        ...
220            147          8            495          2
221            745          4            794          6
222            184          3            734         10
223            828          8            540          3
224            578          5            735          2
225            491          4            940          8
226             62          4            571          7
227             77          9            888          2
228            506          9            664          6
229            271          9            343          7
230            584         10            143          4
231            148          5            505          3
232            595          3             54          8
233            274         10            959          2
234            646          1            367          8
235            520          8            883          8
236            644          8            251          9
237            725          8            855          4
238            934          4            233          3
239            151         10            559         10
240            945          5            734          1
241            343          3            677          3
242            380          9            276          4
243            911          4             45          8
244            621          9            945          4
245            413          9            783         10
246            926          6            556         10
247            134          3            547          9
248            396          6            252          9
249            535         10            249          6

[250 rows x 4 columns]>