In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
w1=pd.read_csv("csvs/Restaurant - Week 1 Sales.csv")
w2=pd.read_csv("csvs/Restaurant - Week 2 Sales.csv")
ct=pd.read_csv("csvs/Restaurant - Customers.csv")
fot=pd.read_csv("csvs/Restaurant - Foods.csv")

In [3]:
w=pd.concat([w1,w2])
w.head

<bound method NDFrame.head of      Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
220          495        2
221          794        6
222          734       10
223          540        3
224          735        2
225          940        8
226          571        7
227          888        2
228          664        6
229          343        7
230          143        4
231          505        3
232           54        8
233          959        2
234          367        8
235          883        8
236          251        9
237          855        4
238          233        3
239          559       10
240          734        1
241          677        3
242          276        4
243           45        8
244          945        4
245          783       10
246          556       10
247          547        9
248          252        9
249          249        6

[500 rows x 2 columns]>

In [8]:
w=pd.concat([w1,w2],ignore_index=True)
w.head

<bound method NDFrame.head of      Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
470          495        2
471          794        6
472          734       10
473          540        3
474          735        2
475          940        8
476          571        7
477          888        2
478          664        6
479          343        7
480          143        4
481          505        3
482           54        8
483          959        2
484          367        8
485          883        8
486          251        9
487          855        4
488          233        3
489          559       10
490          734        1
491          677        3
492          276        4
493           45        8
494          945        4
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]>

In [9]:
sales=pd.concat([w1,w2], keys=["A",'B'])
sales.head

<bound method NDFrame.head of        Customer ID  Food ID
A 0            537        9
  1             97        4
  2            658        1
  3            202        2
  4            155        9
  5            213        8
  6            600        1
  7            503        5
  8             71        3
  9            174        3
  10           961        9
  11           966        5
  12           641        4
  13           288        2
  14           149        4
  15           954        2
  16           147        9
  17           155        1
  18           550        6
  19           101        7
  20           549        6
  21            75        6
  22            78        7
  23           514        5
  24           833        7
  25           329        8
  26           586       10
  27           341        1
  28           519       10
  29           680        9
...            ...      ...
B 220          495        2
  221          794        6
  222          734       10
  223          540        3
  224          735        2
  225          940        8
  226          571        7
  227          888        2
  228          664        6
  229          343        7
  230          143        4
  231          505        3
  232           54        8
  233          959        2
  234          367        8
  235          883        8
  236          251        9
  237          855        4
  238          233        3
  239          559       10
  240          734        1
  241          677        3
  242          276        4
  243           45        8
  244          945        4
  245          783       10
  246          556       10
  247          547        9
  248          252        9
  249          249        6

[500 rows x 2 columns]>

In [14]:
sales.loc[('B',245)].head

<bound method NDFrame.head of Customer ID    783
Food ID         10
Name: (B, 245), dtype: int64>

In [15]:
sales.loc['B'].head

<bound method NDFrame.head of      Customer ID  Food ID
0            688       10
1            813        7
2            495       10
3            189        5
4            267        3
5            310        5
6            761        2
7            443        5
8            729        9
9            741        8
10           847        6
11           156       10
12           550        7
13           620       10
14           272        4
15           511        2
16             8        6
17           534        7
18           909        6
19           732        9
20           372        4
21           713        1
22           496        3
23           381        9
24            13        2
25           101        4
26           325        7
27           674        2
28           564        8
29           578        5
..           ...      ...
220          495        2
221          794        6
222          734       10
223          540        3
224          735        2
225          940        8
226          571        7
227          888        2
228          664        6
229          343        7
230          143        4
231          505        3
232           54        8
233          959        2
234          367        8
235          883        8
236          251        9
237          855        4
238          233        3
239          559       10
240          734        1
241          677        3
242          276        4
243           45        8
244          945        4
245          783       10
246          556       10
247          547        9
248          252        9
249          249        6

[250 rows x 2 columns]>