In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
food=pd.read_csv("csvs/foods.csv")
food['Gender'].astype('category')
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
First Name    1000 non-null object
Gender        1000 non-null object
City          1000 non-null object
Frequency     1000 non-null object
Item          1000 non-null object
Spend         1000 non-null float64
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

In [7]:
asss=food.pivot_table(values='Spend',index='Gender',aggfunc="mean")
asss.head

<bound method NDFrame.head of             Spend
Gender
Female  50.709629
Male    49.397623>

In [8]:
asss=food.pivot_table(values='Spend',index='Gender',aggfunc="sum")
asss.head

<bound method NDFrame.head of            Spend
Gender
Female  25963.33
Male    24106.04>

In [9]:
assse=food.pivot_table(values='Spend',index=['Item'],aggfunc="sum")
assse.head

<bound method NDFrame.head of              Spend
Item
Burger     7765.73
Burrito    8270.44
Chalupa    7644.52
Donut      8758.76
Ice Cream  8886.99
Sushi      8742.93>

In [11]:
assse=food.pivot_table(values='Spend',index=['Gender','Item'],aggfunc="sum")
assse.head

<bound method NDFrame.head of                     Spend
Gender Item
Female Burger     4094.30
       Burrito    4257.82
       Chalupa    4152.26
       Donut      4743.00
       Ice Cream  4032.87
       Sushi      4683.08
Male   Burger     3671.43
       Burrito    4012.62
       Chalupa    3492.26
       Donut      4015.76
       Ice Cream  4854.12
       Sushi      4059.85>

In [14]:
assse=food.pivot_table(values='Spend',index=['Gender','Item'],columns='City',
                       aggfunc='count')
assse.head

<bound method NDFrame.head of City              New York  Philadelphia  Stamford
Gender Item
Female Burger           24            31        27
       Burrito          23            28        34
       Chalupa          19            32        25
       Donut            31            30        34
       Ice Cream        27            32        22
       Sushi            31            30        32
Male   Burger           22            21        31
       Burrito          25            30        28
       Chalupa          25            23        23
       Donut            30            33        29
       Ice Cream        29            41        25
       Sushi            27            28        18>

In [15]:
assse=food.pivot_table(values='Spend',index=['Gender','Item'],columns='City',
                       aggfunc='max')
assse.head

<bound method NDFrame.head of City              New York  Philadelphia  Stamford
Gender Item
Female Burger        98.96         97.79     85.06
       Burrito       92.25         96.79     99.21
       Chalupa       98.43         99.29     98.78
       Donut         95.63         96.52     91.75
       Ice Cream     97.83         88.14     97.44
       Sushi         99.51         99.02     95.43
Male   Burger        90.32         99.68     97.20
       Burrito       98.04         93.27     95.07
       Chalupa       96.44         98.40     99.87
       Donut         86.70         93.12     99.26
       Ice Cream     97.65         99.24     99.17
       Sushi         93.85         97.12     98.48>

In [16]:
assse=food.pivot_table(values='Spend',index=['Gender','Item'],columns='City',
                       aggfunc='min')
assse.head

<bound method NDFrame.head of City              New York  Philadelphia  Stamford
Gender Item
Female Burger         2.25          1.97      6.24
       Burrito        1.02          1.04      1.18
       Chalupa        1.96          9.35      9.09
       Donut          3.15          2.13      1.68
       Ice Cream     13.39          7.61      8.80
       Sushi          2.52         11.68      8.20
Male   Burger         5.43          1.71      2.83
       Burrito       15.90          8.58      3.64
       Chalupa       11.61          1.94     10.56
       Donut          1.49          1.26      6.63
       Ice Cream     14.06          4.89      3.43
       Sushi          3.28          2.01     32.15>

In [17]:
pd.pivot_table(data=food,values='Spend',index=['Gender','Item'],columns='City',
                       aggfunc='min')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>City</th>
      <th>New York</th>
      <th>Philadelphia</th>
      <th>Stamford</th>
    </tr>
    <tr>
      <th>Gender</th>
      <th>Item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="6" valign="top">Female</th>
      <th>Burger</th>
      <td>2.25</td>
      <td>1.97</td>
      <td>6.24</td>
    </tr>
    <tr>
      <th>Burrito</th>
      <td>1.02</td>
      <td>1.04</td>
      <td>1.18</td>
    </tr>
    <tr>
      <th>Chalupa</th>
      <td>1.96</td>
      <td>9.35</td>
      <td>9.09</td>
    </tr>
    <tr>
      <th>Donut</th>
      <td>3.15</td>
      <td>2.13</td>
      <td>1.68</td>
    </tr>
    <tr>
      <th>Ice Cream</th>
      <td>13.39</td>
      <td>7.61</td>
      <td>8.80</td>
    </tr>
    <tr>
      <th>Sushi</th>
      <td>2.52</td>
      <td>11.68</td>
      <td>8.20</td>
    </tr>
    <tr>
      <th rowspan="6" valign="top">Male</th>
      <th>Burger</th>
      <td>5.43</td>
      <td>1.71</td>
      <td>2.83</td>
    </tr>
    <tr>
      <th>Burrito</th>
      <td>15.90</td>
      <td>8.58</td>
      <td>3.64</td>
    </tr>
    <tr>
      <th>Chalupa</th>
      <td>11.61</td>
      <td>1.94</td>
      <td>10.56</td>
    </tr>
    <tr>
      <th>Donut</th>
      <td>1.49</td>
      <td>1.26</td>
      <td>6.63</td>
    </tr>
    <tr>
      <th>Ice Cream</th>
      <td>14.06</td>
      <td>4.89</td>
      <td>3.43</td>
    </tr>
    <tr>
      <th>Sushi</th>
      <td>3.28</td>
      <td>2.01</td>
      <td>32.15</td>
    </tr>
  </tbody>
</table>
</div>