In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# squeeze=TRUE  import as series not as DF
google=pd.read_csv('csvs/google_stock_price.csv',squeeze=True)
pokemon=pd.read_csv('csvs/pokemon.csv',usecols=['Pokemon'],squeeze=True)

In [21]:
pokemon.sort_values(ascending=False)
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [22]:
pokemon.sort_index(ascending=False,inplace=True)
pokemon.head(3)

720    Volcanion
719        Hoopa
718      Diancie
Name: Pokemon, dtype: object