In [1]:
import pandas as pd
ice_cream=["chocolate","vainilla","fresa","ni idea"]
pd.Series(ice_cream)

0    chocolate
1     vainilla
2        fresa
3      ni idea
dtype: object

In [2]:
loteria=[1,5,4,7,6,3,5]
pd.Series(loteria)

0    1
1    5
2    4
3    7
4    6
5    3
6    5
dtype: int64

In [3]:
registro=[True,False,False,False,True]
pd.Series(registro)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [4]:
webster={"ANT":"es insecto",
         'banana':"es fruta",
         "cyan":"es color"}
pd.Series(webster)

ANT       es insecto
banana      es fruta
cyan        es color
dtype: object

In [6]:
about_me=["smart","bonito","charning","brillaante","bumble"]
us=pd.Series(about_me)
us

0         smart
1        bonito
2      charning
3    brillaante
4        bumble
dtype: object

In [7]:
us.values

array(['smart', 'bonito', 'charning', 'brillaante', 'bumble'],
      dtype=object)

In [8]:
us.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
us.dtype

dtype('O')

In [10]:
precios=[2.99,34.0,78.23,789.0]
s=pd.Series(precios)
s

0      2.99
1     34.00
2     78.23
3    789.00
dtype: float64

In [12]:
s.sum()

904.22

In [14]:
s.product()

6274807.9602000015

In [15]:
s.mean()

226.055

In [16]:
frutas=["manzana","orange","plum ciruela","huvas","blueberry arandano"]
dias_seman=["Monday","tuesday","wednesday","thursday","friday"]
sfrutas= pd.Series(frutas, index=dias_seman)
sfrutas= pd.Series(frutas, dias_seman)
sfrutas= pd.Series(data=frutas, index=dias_seman)

Monday                  manzana
tuesday                  orange
wednesday          plum ciruela
thursday                  huvas
friday       blueberry arandano
dtype: object

In [19]:
frutas2=["manzana","orange","plum ciruela","huvas","blueberry arandano","Watermelon"] 
dias_seman2=["Monday","tuesday","wednesday","thursday","friday","Monday"]
sfrutas2= pd.Series(frutas2, index=dias_seman2)
sfrutas2

Monday                  manzana
tuesday                  orange
wednesday          plum ciruela
thursday                  huvas
friday       blueberry arandano
Monday               Watermelon
dtype: object

In [31]:
#pokemon=pd.read_csv('csvs/pokemon.csv')
pokemon=pd.read_csv('csvs/pokemon.csv',usecols=['Pokemon'])
pokemon.head

<bound method NDFrame.head of         Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
10      Metapod
11   Butterfree
12       Weedle
13       Kakuna
14     Beedrill
15       Pidgey
16    Pidgeotto
17      Pidgeot
18      Rattata
19     Raticate
20      Spearow
21       Fearow
22        Ekans
23        Arbok
24      Pikachu
25       Raichu
26    Sandshrew
27    Sandslash
28      Nidoran
29     Nidorina
..          ...
691   Clauncher
692   Clawitzer
693  Helioptile
694   Heliolisk
695      Tyrunt
696   Tyrantrum
697      Amaura
698     Aurorus
699     Sylveon
700    Hawlucha
701     Dedenne
702     Carbink
703       Goomy
704     Sliggoo
705      Goodra
706      Klefki
707    Phantump
708   Trevenant
709   Pumpkaboo
710   Gourgeist
711    Bergmite
712     Avalugg
713      Noibat
714     Noivern
715     Xerneas
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]>

In [32]:
#squeeze impor as series , not as DF
pokemon=pd.read_csv('csvs/pokemon.csv',usecols=['Pokemon'],squeeze=True)
pokemon.head

<bound method NDFrame.head of 0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object>

In [37]:
#squeeze impor as series , not as DF
google=pd.read_csv('csvs/google_stock_price.csv',squeeze=True)
google.info

<bound method DataFrame.info of       Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
5           53.90
6           53.02
7           50.95
8           51.13
9           50.07
10          50.70
11          49.95
12          50.74
13          51.10
14          51.10
15          52.61
16          53.70
17          55.69
18          55.94
19          56.93
20          58.69
21          59.62
22          58.86
23          59.13
24          60.35
25          59.86
26          59.07
27          63.37
28          65.47
29          64.74
...           ...
2982       675.22
2983       668.26
2984       680.04
2985       684.11
2986       692.10
2987       699.21
2988       694.49
2989       697.77
2990       695.36
2991       705.63
2992       715.09
2993       720.64
2994       716.98
2995       720.95
2996       719.85
2997       733.78
2998       736.96
2999       741.19
3000       738.63
3001       742.74
3002       739.77
3003       738.42
3004       741.77
3005       745.91
3006       768.79
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]>