In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# squeeze=TRUE  import as series not as DF

google=pd.read_csv('csvs/google_stock_price.csv',squeeze=True)
pokemon=pd.read_csv('csvs/pokemon.csv',index_col="Pokemon",squeeze=True)
#en grandes cantidades de datos sort index is help
pokemon.sort_index(inplace=True)
pokemon.head(3)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Name: Type, dtype: object

In [2]:
pokemon.get("Abra")

'Psychic'

In [7]:
pokemon.get(key=["Abra","Moltres","Digimont"], default="NO ES")

Pokemon
Abra        Psychic
Moltres        Fire
Digimont        NaN
Name: Type, dtype: object

In [6]:
pokemon.get(key="Digimont",default="esto no es un pokemon")
# default no funciona cuando es una lista lo ke le pasamos al key

'esto no es un pokemon'

In [10]:
google.count()
# caount exclude NAN or NULL
#len si cuenta los valores nulos

3012

In [11]:
google.sum()

1006942.0

In [12]:
google.mean()

334.31009296148744

In [13]:
google.std()

173.18720477113106

In [14]:
google.min()

49.95

In [16]:
google.max()

782.22

In [17]:
google.median()

283.315

In [18]:
google.mode() # most frencuntly value

0    291.21
dtype: float64

In [19]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [20]:
google.idxmax() #indice del mayor valor

3011

In [21]:
google.idxmin() # indice del menor valor

11

In [23]:
pokemon.value_counts() #count unique acurrentcy values

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [26]:
google.value_counts()#.sum()

3012

In [27]:
pokemon.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ice          23
Ghost        23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Fire         47
Psychic      47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [30]:
def classify_preformance(n):
    if n<300:
        return "ok"
    elif n>= 300 and n <650:
        return "mas menos"
    else:
        return "Genial"
google.apply(classify_preformance)

0           ok
1           ok
2           ok
3           ok
4           ok
5           ok
6           ok
7           ok
8           ok
9           ok
10          ok
11          ok
12          ok
13          ok
14          ok
15          ok
16          ok
17          ok
18          ok
19          ok
20          ok
21          ok
22          ok
23          ok
24          ok
25          ok
26          ok
27          ok
28          ok
29          ok
         ...
2982    Genial
2983    Genial
2984    Genial
2985    Genial
2986    Genial
2987    Genial
2988    Genial
2989    Genial
2990    Genial
2991    Genial
2992    Genial
2993    Genial
2994    Genial
2995    Genial
2996    Genial
2997    Genial
2998    Genial
2999    Genial
3000    Genial
3001    Genial
3002    Genial
3003    Genial
3004    Genial
3005    Genial
3006    Genial
3007    Genial
3008    Genial
3009    Genial
3010    Genial
3011    Genial
Name: Stock Price, Length: 3012, dtype: object

In [32]:
google.apply(lambda n: "ok" if n<300 else("mas menos" if n>=300 and n<650 else 'genial '))

0            ok
1            ok
2            ok
3            ok
4            ok
5            ok
6            ok
7            ok
8            ok
9            ok
10           ok
11           ok
12           ok
13           ok
14           ok
15           ok
16           ok
17           ok
18           ok
19           ok
20           ok
21           ok
22           ok
23           ok
24           ok
25           ok
26           ok
27           ok
28           ok
29           ok
         ...
2982    genial
2983    genial
2984    genial
2985    genial
2986    genial
2987    genial
2988    genial
2989    genial
2990    genial
2991    genial
2992    genial
2993    genial
2994    genial
2995    genial
2996    genial
2997    genial
2998    genial
2999    genial
3000    genial
3001    genial
3002    genial
3003    genial
3004    genial
3005    genial
3006    genial
3007    genial
3008    genial
3009    genial
3010    genial
3011    genial
Name: Stock Price, Length: 3012, dtype: object

In [33]:
google.apply(lambda  x : x*20)

0        1002.4
1        1082.0
2        1093.0
3        1047.6
4        1059.0
5        1078.0
6        1060.4
7        1019.0
8        1022.6
9        1001.4
10       1014.0
11        999.0
12       1014.8
13       1022.0
14       1022.0
15       1052.2
16       1074.0
17       1113.8
18       1118.8
19       1138.6
20       1173.8
21       1192.4
22       1177.2
23       1182.6
24       1207.0
25       1197.2
26       1181.4
27       1267.4
28       1309.4
29       1294.8
         ...
2982    13504.4
2983    13365.2
2984    13600.8
2985    13682.2
2986    13842.0
2987    13984.2
2988    13889.8
2989    13955.4
2990    13907.2
2991    14112.6
2992    14301.8
2993    14412.8
2994    14339.6
2995    14419.0
2996    14397.0
2997    14675.6
2998    14739.2
2999    14823.8
3000    14772.6
3001    14854.8
3002    14795.4
3003    14768.4
3004    14835.4
3005    14918.2
3006    15375.8
3007    15457.6
3008    15421.4
3009    15463.6
3010    15432.2
3011    15644.4
Name: Stock Price, Length: 3012, dtype: float64

In [35]:
pokemon_names=pd.read_csv('csvs/pokemon.csv',usecols=["Pokemon"],squeeze=True)
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [36]:
pokemon_types=pd.read_csv('csvs/pokemon.csv',index_col="Pokemon",squeeze=True)
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [37]:
pokemon_names.map(pokemon_types)  # hace un match de los valores de pke name en los indices de poke types

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
5          Fire
6         Water
7         Water
8         Water
9           Bug
10          Bug
11          Bug
12          Bug
13          Bug
14          Bug
15       Normal
16       Normal
17       Normal
18       Normal
19       Normal
20       Normal
21       Normal
22       Poison
23       Poison
24     Electric
25     Electric
26       Ground
27       Ground
28       Poison
29       Poison
         ...
691       Water
692       Water
693    Electric
694    Electric
695        Rock
696        Rock
697        Rock
698        Rock
699       Fairy
700    Fighting
701    Electric
702        Rock
703      Dragon
704      Dragon
705      Dragon
706       Steel
707       Ghost
708       Ghost
709       Ghost
710       Ghost
711         Ice
712         Ice
713      Flying
714      Flying
715       Fairy
716        Dark
717      Dragon
718        Rock
719     Psychic
720        Fire
Name: Pokemon, Length: 721, dtype: object