In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
ch=pd.read_csv("csvs/chicago.csv").dropna(how='all')
ch['Department']=ch['Department'].astype('category')
ch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32062 entries, 0 to 32061
Data columns (total 4 columns):
Name                      32062 non-null object
Position Title            32062 non-null object
Department                32062 non-null category
Employee Annual Salary    32062 non-null object
dtypes: category(1), object(3)
memory usage: 1.0+ MB

In [4]:
ch['Position Title'].str.lower().str.contains('water')

0         True
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
32032    False
32033    False
32034    False
32035    False
32036    False
32037    False
32038    False
32039    False
32040    False
32041    False
32042    False
32043    False
32044    False
32045    False
32046    False
32047    False
32048    False
32049    False
32050    False
32051    False
32052    False
32053    False
32054    False
32055    False
32056    False
32057    False
32058    False
32059    False
32060    False
32061    False
Name: Position Title, Length: 32062, dtype: bool

In [5]:
ch['Position Title'].str.lower().str.startswith('water')

0         True
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
32032    False
32033    False
32034    False
32035    False
32036    False
32037    False
32038    False
32039    False
32040    False
32041    False
32042    False
32043    False
32044    False
32045    False
32046    False
32047    False
32048    False
32049    False
32050    False
32051    False
32052    False
32053    False
32054    False
32055    False
32056    False
32057    False
32058    False
32059    False
32060    False
32061    False
Name: Position Title, Length: 32062, dtype: bool

In [7]:
ch['Position Title'].str.lower().str.endswith('ist')

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
32032    False
32033    False
32034    False
32035    False
32036    False
32037    False
32038    False
32039    False
32040    False
32041    False
32042    False
32043    False
32044    False
32045    False
32046    False
32047    False
32048    False
32049    False
32050    False
32051    False
32052    False
32053    False
32054    False
32055    False
32056    False
32057    False
32058    False
32059    False
32060    False
32061    False
Name: Position Title, Length: 32062, dtype: bool

In [11]:
# eliminar espacios a la izq
ch['Name']=ch['Name'].str.lstrip()

In [10]:
# eliminar espacios a la derech
ch['Name']=ch['Name'].str.rstrip()

In [13]:
ch['Name']=ch['Name'].str.strip()

In [15]:
ch['Name'].str.split(',')

0                 [AARON,   ELVIA J]
1               [AARON,   JEFFERY M]
2                  [AARON,   KARINA]
3             [AARON,   KIMBERLEI R]
4             [ABAD JR,   VICENTE M]
5                 [ABARCA,   ANABEL]
6               [ABARCA,   EMMANUEL]
7               [ABASCAL,   REECE E]
8            [ABBASI,   CHRISTOPHER]
9           [ABBATACOLA,   ROBERT J]
10          [ABBATEMARCO,   JAMES J]
11               [ABBATE,   TERRY M]
12               [ABBOTT,   BETTY L]
13              [ABBOTT,   LYNISE M]
14         [ABBRUZZESE,   WILLIAM J]
15                [ABDALLAH,   ZAID]
16          [ABDELHADI,   ABDALMAHD]
17            [ABDELLATIF,   AREF R]
18             [ABDELMAJEID,   AZIZ]
19            [ABDOLLAHZADEH,   ALI]
20       [ABDUL-KARIM,   MUHAMMAD A]
21            [ABDULLAH,   DANIEL N]
22               [ABDULLAH,   KEVIN]
23           [ABDULLAH,   LAKENYA N]
24            [ABDULLAH,   RASHAD J]
25           [ABDULSATTAR,   MUDHAR]
26           [ABDUL-SHAKUR,   TAHIR]
27         [ABDULWAHAB,   ABUUBAIDA]
28              [ABEJERO,   JASON V]
29        [ABERCROMBIE IV,   EARL S]
                    ...
32032           [ZUNIGA JR,   JAMES]
32033             [ZUNIGA,   JUAN M]
32034              [ZUNIGA,   OSCAR]
32035             [ZUNIGA,   RONALD]
32036             [ZUNIGA,   THOMAS]
32037            [ZUNIGA,   VICENTE]
32038                 [ZUNO,   ERIK]
32039              [ZUPAN,   BILL M]
32040            [ZUPANCIC,   KELLY]
32041          [ZURAWSKI,   CAROL A]
32042          [ZURAWSKI,   JEFFREY]
32043            [ZURAWSKI,   MAC Z]
32044           [ZURAWSKI,   MARY E]
32045             [ZUREK,   FRANCIS]
32046              [ZUREK,   MARY H]
32047             [ZURITA,   ADRIEL]
32048             [ZVANJA,   TINA M]
32049      [ZWARYCZ MANN,   IRENE A]
32050          [ZWARYCZ,   THOMAS J]
32051          [ZWIESLER,   MATTHEW]
32052            [ZWIT,   JEFFREY J]
32053         [ZWOLFER,   MATTHEW W]
32054              [ZYCH,   MATEUSZ]
32055               [ZYDEK,   BRYAN]
32056            [ZYGADLO,   JOHN P]
32057         [ZYGADLO,   MICHAEL J]
32058          [ZYGOWICZ,   PETER J]
32059           [ZYMANTAS,   MARK E]
32060         [ZYRKOWSKI,   CARLO E]
32061         [ZYSKOWSKI,   DARIUSZ]
Name: Name, Length: 32062, dtype: object

In [16]:
ch['Name'].str.split(',').str.get(0)

0                 AARON
1                 AARON
2                 AARON
3                 AARON
4               ABAD JR
5                ABARCA
6                ABARCA
7               ABASCAL
8                ABBASI
9            ABBATACOLA
10          ABBATEMARCO
11               ABBATE
12               ABBOTT
13               ABBOTT
14           ABBRUZZESE
15             ABDALLAH
16            ABDELHADI
17           ABDELLATIF
18          ABDELMAJEID
19        ABDOLLAHZADEH
20          ABDUL-KARIM
21             ABDULLAH
22             ABDULLAH
23             ABDULLAH
24             ABDULLAH
25          ABDULSATTAR
26         ABDUL-SHAKUR
27           ABDULWAHAB
28              ABEJERO
29       ABERCROMBIE IV
              ...
32032         ZUNIGA JR
32033            ZUNIGA
32034            ZUNIGA
32035            ZUNIGA
32036            ZUNIGA
32037            ZUNIGA
32038              ZUNO
32039             ZUPAN
32040          ZUPANCIC
32041          ZURAWSKI
32042          ZURAWSKI
32043          ZURAWSKI
32044          ZURAWSKI
32045             ZUREK
32046             ZUREK
32047            ZURITA
32048            ZVANJA
32049      ZWARYCZ MANN
32050           ZWARYCZ
32051          ZWIESLER
32052              ZWIT
32053           ZWOLFER
32054              ZYCH
32055             ZYDEK
32056           ZYGADLO
32057           ZYGADLO
32058          ZYGOWICZ
32059          ZYMANTAS
32060         ZYRKOWSKI
32061         ZYSKOWSKI
Name: Name, Length: 32062, dtype: object

In [17]:
ch['Name'].str.split(',').str.get(0).str.title()

0                 Aaron
1                 Aaron
2                 Aaron
3                 Aaron
4               Abad Jr
5                Abarca
6                Abarca
7               Abascal
8                Abbasi
9            Abbatacola
10          Abbatemarco
11               Abbate
12               Abbott
13               Abbott
14           Abbruzzese
15             Abdallah
16            Abdelhadi
17           Abdellatif
18          Abdelmajeid
19        Abdollahzadeh
20          Abdul-Karim
21             Abdullah
22             Abdullah
23             Abdullah
24             Abdullah
25          Abdulsattar
26         Abdul-Shakur
27           Abdulwahab
28              Abejero
29       Abercrombie Iv
              ...
32032         Zuniga Jr
32033            Zuniga
32034            Zuniga
32035            Zuniga
32036            Zuniga
32037            Zuniga
32038              Zuno
32039             Zupan
32040          Zupancic
32041          Zurawski
32042          Zurawski
32043          Zurawski
32044          Zurawski
32045             Zurek
32046             Zurek
32047            Zurita
32048            Zvanja
32049      Zwarycz Mann
32050           Zwarycz
32051          Zwiesler
32052              Zwit
32053           Zwolfer
32054              Zych
32055             Zydek
32056           Zygadlo
32057           Zygadlo
32058          Zygowicz
32059          Zymantas
32060         Zyrkowski
32061         Zyskowski
Name: Name, Length: 32062, dtype: object

In [19]:
ch['Name'].str.split(',').str.get(0).str.title().value_counts()

Williams           293
Johnson            244
Smith              241
Brown              185
Jones              183
Rodriguez          171
Jackson            136
Garcia             130
Davis              127
Hernandez          110
Martinez           108
Lopez              106
Gonzalez           104
Perez              100
Wilson              94
Rivera              90
Thomas              89
Anderson            82
Torres              81
Murphy              80
Robinson            79
Moore               78
Harris              76
Sanchez             76
Miller              75
Lewis               74
Taylor              73
Martin              72
White               66
Clark               66
                  ...
Kunis                1
Calvert              1
Hefel                1
Binfa                1
Scherr               1
Montalto             1
Danielson            1
Cunningham Jr        1
Kung                 1
Poniatowski          1
Mcmillian            1
Fulgiam Hudson       1
Glaesser             1
Mcdonald  Iv         1
Wexler               1
Norsworthy           1
Gurskis              1
Del Dotto            1
Ranne                1
Huertas              1
Haralampopoulos      1
Francois             1
Szpara               1
Velasco Jr           1
Mora Jr              1
Belt                 1
Coan                 1
Martinelli           1
Lunebach             1
Lenart               1
Name: Name, Length: 13829, dtype: int64