In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
ch=pd.read_csv("csvs/chicago.csv", index_col='Name').dropna(how='all')
ch['Department']=ch['Department'].astype('category')
ch.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32062 entries, AARON,  ELVIA J to ZYSKOWSKI,  DARIUSZ
Data columns (total 3 columns):
Position Title            32062 non-null object
Department                32062 non-null category
Employee Annual Salary    32062 non-null object
dtypes: category(1), object(2)
memory usage: 784.3+ KB

In [10]:
ch.index=ch.index.str.title().str.strip()
ch.index

Index(['Aaron,  Elvia J', 'Aaron,  Jeffery M', 'Aaron,  Karina',
       'Aaron,  Kimberlei R', 'Abad Jr,  Vicente M', 'Abarca,  Anabel',
       'Abarca,  Emmanuel', 'Abascal,  Reece E', 'Abbasi,  Christopher',
       'Abbatacola,  Robert J',
       ...
       'Zwit,  Jeffrey J', 'Zwolfer,  Matthew W', 'Zych,  Mateusz',
       'Zydek,  Bryan', 'Zygadlo,  John P', 'Zygadlo,  Michael J',
       'Zygowicz,  Peter J', 'Zymantas,  Mark E', 'Zyrkowski,  Carlo E',
       'Zyskowski,  Dariusz'],
      dtype='object', name='Name', length=32062)

In [15]:
ch.columns=ch.columns.str.upper()
ch.columns

Index(['POSITION TITLE', 'DEPARTMENT', 'EMPLOYEE ANNUAL SALARY'], dtype='object')